<template lang="html">
  <v-card  id="health" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">HEALTH</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="isHealthInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <health></health>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import Health from './Health'
  import { EVENT_HEALTH } from '@/constants/events'
  export default {
    name: 'health-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isHealthDisabled: true
      }
    },
    methods: {
      isHealthInfo: function (state) {
        this.$eventHub.$emit(EVENT_HEALTH, state)
      }
    },
    computed: {

    },
    components: {
      Health
    }
}
</script>

<style scoped lang="stylus">
</style>
