<template lang="html">

  <section class="health">
    <v-layout row wrap>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>NEWBORN (2.5kg)</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="health_true_or_false"
                v-model="health.has_newborn_estimated_2_5"
                :placeholder="health.has_newborn_estimated_2_5 === true || health.has_newborn_estimated_2_5 === false ? health.has_newborn_estimated_2_5.toString() : health.has_newborn_estimated_2_5"
                :disabled="ishealthDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>WT. OF NEW BORN (kg)</small>
        <v-text-field
          name="input-1-3"
          :value="health.num_newborn_2_5"
          v-model="health.num_newborn_2_5"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>NEWBORN below (2.5kg)</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_newborn_below_2_5"
              :placeholder="health.has_newborn_below_2_5 === true || health.has_newborn_below_2_5 === false ? health.has_newborn_below_2_5.toString() : health.has_newborn_below_2_5"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>WT. OF NEW BORN (kg)</small>
        <v-text-field
          name="input-1-3"
          :value="health.num_newborn_below_2_5"
          v-model="health.num_newborn_below_2_5"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>CHILDREN IMMUNIZED</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_children_immunized"
              :placeholder="health.has_children_immunized === true || health.has_children_immunized === false ? health.has_children_immunized.toString() : health.has_children_immunized"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>AGE LAST IMMUNIZED</small>
        <v-text-field
          name="input-1-3"
          :value="health.ages_last_immunization"
          v-model="health.ages_last_immunization"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>MALNOURISHED CHILDREN</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_malnourished_children"
              :placeholder="health.has_malnourished_children === true || health.has_malnourished_children === false ? health.has_malnourished_children.toString() : health.has_malnourished_children"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 class="pl-2 pr-2">
      <small>MALNOURISHED NOTES</small>
        <v-text-field
          name="input-1-3"
          :value="health.malnourished_notes"
          v-model="health.malnourished_notes"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>TAKE SUP. (pregnancy)</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_pregnancy_supplement"
              :placeholder="health.has_pregnancy_supplement === true || health.has_pregnancy_supplement === false ? health.has_pregnancy_supplement.toString() : health.has_pregnancy_supplement"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 class="pl-2 pr-2">
      <small>PREGNANCY SUPPLIMENTS</small>
        <v-text-field
          name="input-1-3"
          :value="health.pregnancy_supplement"
          v-model="health.pregnancy_supplement"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>SERVICES (prenatal)</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_prenatal_services"
              :placeholder="health.has_prenatal_services === true || health.has_prenatal_services === false ? health.has_prenatal_services.toString() : health.has_prenatal_services"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 class="pl-2 pr-2">
      <small>PRE NATAL SERVICES</small>
        <v-text-field
          name="input-1-3"
          :value="health.prenatal_services"
          v-model="health.prenatal_services"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>TRAINED DELIV.</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_trained_delivery"
              :placeholder="health.has_trained_delivery === true || health.has_trained_delivery === false ? health.has_trained_delivery.toString() : health.has_trained_delivery"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 class="pl-2 pr-2">
      <small>TRAINED DELIVERY NOTES</small>
        <v-text-field
          name="input-1-3"
          :value="health.deliveries_notes"
          v-model="health.deliveries_notes"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>DIED CHILDREN</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="health_true_or_false"
              v-model="health.has_death_below_1_year_old"
              :placeholder="health.has_death_below_1_year_old === true || health.has_death_below_1_year_old === false ? health.has_death_below_1_year_old.toString() : health.has_death_below_1_year_old"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 class="pl-2 pr-2">
      <small>DEATH OCCURENCE NOTES</small>
        <v-text-field
          name="input-1-3"
          :value="health.death_occurence_notes"
          v-model="health.death_occurence_notes"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SICKNESS (child)</small>
        <v-text-field
          name="input-1-3"
          :value="health.children_sicknesses_other"
          v-model="health.children_sicknesses_other"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SICKNESS (adult)</small>
        <v-text-field
          name="input-1-3"
          :value="health.adults_sicknesses_other"
          v-model="health.adults_sicknesses_other"
          single-line
          :disabled="ishealthDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>PHIL HEALTH MEMBERSHIP</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
              v-bind:items="storeChoices.philhealth_membership"
              v-model="health.philhealth_membership"
              :placeholder="health.philhealth_membership === true || health.philhealth_membership === false ? health.philhealth_membership.toString() : health.philhealth_membership"
              :disabled="ishealthDisabled"
              :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.ishealthDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchHealth()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editHealthInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_HEALTH } from '@/constants/events'
  import FiltersMixin from '@/mixins/filters'
  export default {
    name: 'health',
    props: [],
    data () {
      return {
        ishealthDisabled: true,
        isHealthSaving: false,
        health_true_or_false: [
          {
            text: 'true', value: true
          },
          {
            text: 'false', value: false
          }
        ]
      }
    },
    methods: {
      editHealthInfo: function (state) {
        this.ishealthDisabled = !state
      },
      patchHealth: function () {
        this.isHealthSaving = true
        this.$store.dispatch('health/patchHealth', this.health).then(() => {
          this.isHealthSaving = false
        }).catch(() => {
          this.isHealthSaving = false
        })
      }
    },
    computed: {
      health: function () {
        return this.$store.getters['health/health']
      },
      isSaving: function () {
        return !(!this.isHealthSaving)
      }
    },
    mixins: [FiltersMixin],
    created: function () {
      this.$eventHub.$on(EVENT_HEALTH, this.editHealthInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_HEALTH, this.editHealthInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
