<template lang="html">
  <v-card  id="psychosocial" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">PSYCHOSOCIAL</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="isPsychosocialInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <psychosocial></psychosocial>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import Psychosocial from './Psychosocial'
  import { EVENT_PSYCHOSOCIAL } from '@/constants/events'
  
  export default {
    name: 'psychosocial-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isPsychosocialDisabled: true
      }
    },
    methods: {
      isPsychosocialInfo: function (state) {
        this.$eventHub.$emit(EVENT_PSYCHOSOCIAL, state)
      }
    },
    computed: {

    },
    components: {
      Psychosocial
    }
}
</script>

<style scoped lang="stylus">
</style>
