<template lang="html">

  <section class="psychosocial">
    <v-layout row wrap>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>VIOLENCE (women)</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="psychosocial_true_or_false"
                v-model="psychosocial.violence_against_women"
                :placeholder="psychosocial.violence_against_women === true || psychosocial.violence_against_women === false ? psychosocial.violence_against_women.toString() : psychosocial.violence_against_women"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>NO. OF VIOLENCE(women)</small>
        <v-text-field
          name="input-1-3"
          single-line
          class="text-margin-negative"
          :value="psychosocial.num_of_violence_against_women"
          v-model="psychosocial.num_of_violence_against_women"
          :disabled="isPsychosocialDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>VIOLENCE (children)</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="psychosocial_true_or_false"
                v-model="psychosocial.violence_against_children"
                :placeholder="psychosocial.violence_against_children === true || psychosocial.violence_against_children === false ? psychosocial.violence_against_children.toString() : psychosocial.violence_against_children"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>NO. OF VIOLENCE(children)</small>
        <v-text-field
          name="input-1-3"
          single-line
          class="text-margin-negative"
          :value="psychosocial.num_of_violence_against_children"
          v-model="psychosocial.num_of_violence_against_children"
          :disabled="isPsychosocialDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>CONFLICT W/ LAW</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="psychosocial_true_or_false"
                v-model="psychosocial.conflict_with_law"
                :placeholder="psychosocial.conflict_with_law === true || psychosocial.conflict_with_law === false ? psychosocial.conflict_with_law.toString() : psychosocial.conflict_with_law"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>CONFLICT W/ ARMED</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="psychosocial_true_or_false"
                v-model="psychosocial.victims_of_armed_conflict"
                :placeholder="psychosocial.victims_of_armed_conflict === true || psychosocial.victims_of_armed_conflict === false ? psychosocial.victims_of_armed_conflict.toString() : psychosocial.victims_of_armed_conflict"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>FAMILY PLANNING PRAC.</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="psychosocial_true_or_false"
                v-model="psychosocial.practice_family_planning"
                :placeholder="psychosocial.practice_family_planning === true || psychosocial.practice_family_planning === false ? psychosocial.practice_family_planning.toString() : psychosocial.practice_family_planning"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FAM. PLAN. METHOD</small>
        <v-text-field
          name="input-1-3"
          single-line
          class="text-margin-negative"
          :value="psychosocial.family_planning_method"
          v-model="psychosocial.family_planning_method"
          :disabled="isPsychosocialDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>NATIONAL GOV. HELPING?</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="constants.usefullness"
                v-model="psychosocial.is_national_gov_helping"
                :placeholder="psychosocial.is_national_gov_helping"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>PROVINCIAL GOV. HELPING?</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="constants.usefullness"
                v-model="psychosocial.is_provincial_gov_helping"
                :placeholder="psychosocial.is_provincial_gov_helping"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>MUNICIPAL GOV. HELPING?</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="constants.usefullness"
                v-model="psychosocial.is_municipal_gov_helping"
                :placeholder="psychosocial.is_municipal_gov_helping"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>BARANGAY GOV. HELPING?</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
                :items="constants.usefullness"
                v-model="psychosocial.is_barangay_gov_helping"
                :placeholder="psychosocial.is_barangay_gov_helping"
                :disabled="isPsychosocialDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>NAME OF RESPONDENT</small>
        <v-text-field
          name="input-1-3"
          single-line
          class="text-margin-negative"
          :value="psychosocial.name_of_respondent"
          v-model="psychosocial.name_of_respondent"
          :disabled="isPsychosocialDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>NAME OF ENUMERATOR</small>
        <v-text-field
          name="input-1-3"
          single-line
          class="text-margin-negative"
          :value="psychosocial.name_of_enumerator"
          v-model="psychosocial.name_of_enumerator"
          :disabled="isPsychosocialDisabled"
        ></v-text-field>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.isPsychosocialDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchPsychoSocial()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editPsychoSocialInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_PSYCHOSOCIAL } from '@/constants/events'

  export default {
    name: 'psychosocial',
    props: [],
    data () {
      return {
        isPsychosocialDisabled: true,
        isPsychoSocialSaving: false,
        psychosocial_true_or_false: [
          {
            text: 'true', value: true
          },
          {
            text: 'false', value: false
          }
        ]
      }
    },
    methods: {
      editPsychoSocialInfo: function (state) {
        this.isPsychosocialDisabled = !state
      },
      patchPsychoSocial: function () {
        this.isPsychoSocialSaving = true
        this.$store.dispatch('psychosocial/patchPsychoSocial', this.psychosocial).then(() => {
          this.isPsychoSocialSaving = false
        }).catch(() => {
          this.isPsychoSocialSaving = false
        })
      }
    },
    computed: {
      psychosocial: function () {
        return this.$store.getters['psychosocial/psychosocial']
      },
      constants: function () {
        return this.$store.getters['families/constants']
      },
      isSaving: function () {
        return !(!this.isPsychoSocialSaving)
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_PSYCHOSOCIAL, this.editPsychoSocialInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_PSYCHOSOCIAL, this.editPsychoSocialInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
