<template>
  <v-card>
    <v-layout row wrap >
      <v-flex lg12 @scroll="handleScroll" style="height:540px; overflow-x: hidden;">
        <v-data-table
          :headers="headers"
          :items="families"
          class="elevation-1"
          hide-actions
          no-data-text=""
          ref="table"
        >
          <template slot="items" slot-scope="props">
            <tr @click="$router.push({name: 'profile-page', params: {familyId: props.item.id}})" class="pointer">
              <td>
                {{ props.item.address.includes('Bito') ? 'Mal-Bit-'+props.item.head.id : 
                   props.item.address.includes('Bolila') ? 'Mal-Bol-'+props.item.head.id : 
                   props.item.address.includes('Buhangin') ? 'Mal-Buh-'+props.item.head.id : 
                   props.item.address.includes('Culaman') ? 'Mal-Cul-'+props.item.head.id : 
                   props.item.address.includes('Datu') ? 'Mal-D.D-'+props.item.head.id : 
                   props.item.address.includes('Demoloc') ? 'Mal-Dem-'+props.item.head.id : 
                   props.item.address.includes('Felis') ? 'Mal-Fel-'+props.item.head.id : 
                   props.item.address.includes('Fishing') ? 'Mal-F.V-'+props.item.head.id : 
                   props.item.address.includes('Kibalatong') ? 'Mal-Kib-'+props.item.head.id : 
                   props.item.address.includes('Kidalapong') ? 'Mal-Kid-'+props.item.head.id : 
                   props.item.address.includes('Kilalag') ? 'Mal-Kil-'+props.item.head.id : 
                   props.item.address.includes('Kinangan') ? 'Mal-Kin-'+props.item.head.id : 
                   props.item.address.includes('Lacaron') ? 'Mal-Lac-'+props.item.head.id : 
                   props.item.address.includes('Lagumit') ? 'Mal-Lag-'+props.item.head.id : 
                   props.item.address.includes('Lais') ? 'Mal-Lai-'+props.item.head.id : 
                   props.item.address.includes('Baguio') ? 'Mal-Bag-'+props.item.head.id : 
                   props.item.address.includes('Macol') ? 'Mal-Mac-'+props.item.head.id : 
                   props.item.address.includes('Mana') ? 'Mal-Man-'+props.item.head.id : 
                   props.item.address.includes('Peralta') ? 'Mal-Per-'+props.item.head.id : 
                   props.item.address.includes('Argao') ? 'Mal-N.A-'+props.item.head.id : 
                   props.item.address.includes('Pangaleon') ? 'Mal-PLN-'+props.item.head.id : 
                   props.item.address.includes('pangian') ? 'Mal-PGN-'+props.item.head.id : 
                   props.item.address.includes('Pinalpalan') ? 'Mal-Pin-'+props.item.head.id : 
                   props.item.address.includes('Poblacion') ? 'Mal-Pob-'+props.item.head.id : 
                   props.item.address.includes('Sangay') ? 'Mal-San-'+props.item.head.id : 
                   props.item.address.includes('Talogoy') ? 'Mal-Tal-'+props.item.head.id : 
                   props.item.address.includes('Tical') ? 'Mal-TCL-'+props.item.head.id : 
                   props.item.address.includes('Ticulon') ? 'Mal-TLN-'+props.item.head.id : 
                   props.item.address.includes('Tingolo') ? 'Mal-Tin-'+props.item.head.id : 
                   props.item.address.includes('Tubalan') ? 'Mal-Tub-'+props.item.head.id : 
                   props.item.head.id
                }}
              </td>
              <td>{{ props.item.head.name | capitalize}}</td>
              <td>{{ props.item.address }}</td>
              <td>{{ props.item.head.birth_date }}</td>
              <td>{{ props.item.head.gender | capitalize }}</td>
              <td>{{ props.item.head.civil_status | capitalize }}</td>
              <td>{{ props.item.spouse !== null ? props.item.spouse.name : '' }}</td>
              <td>{{ props.item.tribe_type | capitalize(2) }}</td>
              <td>{{ props.item.head.religion | capitalize(4) }}</td>
              <td>{{ props.item.head.highest_educational_attainment | capitalize }}</td>
              <td>{{ props.item.income.gross_monthly_income }}</td>
              <td>{{ props.item.income.other_income_sources }}</td>
            </tr>
          </template>
        </v-data-table>

        <progress-circular v-show="isFetching"></progress-circular>

        <!-- This is a temporary fix since slot="no-data" is not working -->
        <v-alert :value="families.length < 1 && !isFetching" color="warning" class="text-center">
          No data available
        </v-alert>

      </v-flex>
    </v-layout>

    <v-speed-dial
      v-model="fab"
      :top="top"
      :bottom="bottom"
      :right="right"
      :left="left"
      :direction="direction"
      :hover="hover"
      :transition="transition"
      style="margin-top:-60px;float:right;margin-right:10px;"
    >
      <v-btn
        slot="activator"
        color="blue darken-4"
        dark
        fab
        hover
        v-model="fab"
        class="generate-menu"
      >
        <v-icon dark medium class="fa-2x">fa-tv</v-icon>
        <v-icon medium class="fa-2x">fa-times</v-icon>
      </v-btn>

      <!-- href bug due to vuetify update 1.0.3 need work around -->
      <v-tooltip left>
        <v-btn
          fab
          dark
          small
          slot="activator"
          color="green"
          target="_blank"
          :href="excelUrl"
        >
          <v-icon class="href-icon">fa-file</v-icon>
        </v-btn>
        <span>Generate Excel</span>
      </v-tooltip>

      <v-tooltip left>
        <v-btn
          fab
          dark
          small
          slot="activator"
          color="green"
          class="icon-small-padding"
        >
          <v-icon>fa-wpforms</v-icon>
        </v-btn>
        <span>Import Excel</span>
      </v-tooltip>
    </v-speed-dial>

   <v-snackbar
      class="pointer"
      :timeout="0"
      :color="''"
      :buttom="true"
      :left="true"
      v-model="snackbar"
    >
      A total of {{ totalDataHeads }} search result/s found
    </v-snackbar>
  </v-card>
</template>

<script>
  import querystring from 'querystring'

  import { UPDATE_SEARCH_QUERY } from '@/constants/events'
  import FiltersMixin from '@/mixins/filters'
  import ProgressCircular from '@/components/shared/ProgressCircular'

  export default {
    data () {
      return {
        families: [],
        headers: [
          { text: 'ID', align: 'left', sortable: false },
          { text: 'Family Head', align: 'left', sortable: false },
          { text: 'Address', align: 'left', sortable: false },
          { text: 'Birth Date', align: 'left', sortable: false },
          { text: 'Gender', align: 'left', sortable: false },
          { text: 'Civil Status', align: 'left', sortable: false },
          { text: 'Spouse', align: 'left', sortable: false },
          { text: 'Tribe', align: 'left', sortable: false },
          { text: 'Religion', align: 'left', sortable: false },
          { text: 'Educational Attainment', align: 'left', sortable: false },
          { text: 'Monthly Income', align: 'left', sortable: false },
          { text: 'Other src of income', align: 'left', sortable: false }
        ],
        isFetching: false,
        nextUrl: null,
        direction: 'top',
        fab: false,
        fling: false,
        hover: false,
        tabs: null,
        top: false,
        right: true,
        bottom: true,
        left: false,
        transition: 'slide-y-reverse-transition',
        isTrue: false,
        totalDataHeads: null,
        snackbar: true
      }
    },
    methods: {
      setNextUrl: function (url) {
        if (url) {
          this.nextUrl = querystring.decode(url.split('?')[1])
        } else {
          this.nextUrl = url
        }
      },
      fetchFamilies: function (filters) {
        this.isFetching = true
        if (!filters) {
          filters = this.filters
        }
        this.$store.dispatch('families/fetchFamilies', filters).then((data) => {
          this.families = this.families.concat(data.results)
          this.totalDataHeads = data.count
          this.isFetching = false
          this.setNextUrl(data.next)
        }).catch(() => {
          this.isFetching = false
        })
      },
      handleScroll: function (e) {
        const tableHeight = this.$refs.table.$el.offsetHeight - (e.srcElement.offsetHeight + 50)
        if (e.srcElement.scrollTop > tableHeight && this.nextUrl && !this.isFetching) {
          this.isFetching = true
          this.fetchFamilies(this.nextUrl)
        }
      },
      searchFamilies: function () {
        this.families = []
        this.fetchFamilies()
      }
    },
    components: {
      ProgressCircular
    },
    watch: {
      top (val) {
        this.bottom = !val
      },
      right (val) {
        this.left = !val
      },
      bottom (val) {
        this.top = !val
      },
      left (val) {
        this.right = !val
      }
    },
    computed: {
      activeFab () {
        switch (this.tabs) {
          case 'one': return { 'class': 'purple', icon: 'account_circle' }
          case 'two': return { 'class': 'red', icon: 'edit' }
          case 'three': return { 'class': 'green', icon: 'keyboard_arrow_up' }
          default: return {}
        }
      },
      filters: function () {
        return {...this.storeFilters, limit: 15}
      },
      excelUrl: function () {
        const filters = {...this.storeFilters, export: 1}
        return `${process.env.API_URL}/families/?${querystring.stringify(filters)}/`
      }
    },
    mixins: [FiltersMixin],
    created: function () {
      this.fetchFamilies()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.searchFamilies)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.searchFamilies)
    }
  }
</script>

<style scoped lang="stylus">
  .generate-menu.btn--floating .icon
    height: 30px
    top: calc(50% - 16px)
  .icon-small-padding
    padding: 5px
    border:solid
  .href-icon
    padding: 10px
    margin-left: 3px
</style>
