// content
.content
  .v-padding
    padding:5px
  .text-center
    text-align:center
  .v-card-padding
    padding:10px
  .map-container
    overflow:auto
    height:420px
    width: 100%
  .pointer
    cursor: pointer
  .container-lg12
    height:420px
    overflow: auto