<template>
  <v-navigation-drawer
    fixed
    clipped
    app
    v-model="drawer"
    :mini-variant.sync="mini"
    permanent
    light
    class="elevation-3 grey lighten-4"
  >
  <v-list class="pt-0" dense>
    <v-toolbar flat class="transparent" >
      <v-list class="pa-0">
        <v-list-tile class="pointer" @click.native.stop="mini = !mini">
          <v-list-tile-avatar>
            <img :src="family.head.image"/>
          </v-list-tile-avatar>
          <v-list-tile-content class="pointer">
            <v-list-tile-title class="grey--text">
              <strong style="margin-left: 5px">
                {{ family.head.name }}
              </strong>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
    <v-list-tile v-for="(item,index) in scrollto" :key="index" @click="">
    <v-list-tile-avatar style="margin-top:30px;">
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title flat v-scroll-to="{el: item.el ,offset: item.offset}" class="grey--text">
          <strong style="margin-left: 5px;">
            {{ item.title }}
          </strong>
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
  </v-navigation-drawer>
</template>

<script>
  import Vue from 'vue'
  import VueScrollTo from 'vue-scrollto'

  Vue.use(VueScrollTo, {
    container: 'body',
    duration: 1000,
    easing: 'ease',
    offset: 0,
    cancelable: false,
    onDone: false,
    onCancel: false,
    x: false,
    y: true
  })

  export default {
    data () {
      return {
        mini: false,
        drawer: null,
        scrollto: [
          {
            el: '#personal-info',
            offset: -70,
            title: 'Personal Information',
            icon: 'fa-user'
          }, {
            el: '#education',
            offset: -70,
            title: 'Education',
            icon: 'fa-pencil'
          }, {
            el: '#health',
            offset: -70,
            title: 'Health and Nutrition',
            icon: 'fa-ambulance'
          },
          {
            el: '#livestock',
            offset: -70,
            title: 'Livestock / Poultry',
            icon: 'fa-tree'
          },
          {
            el: '#house',
            offset: -70,
            title: 'House and Lot',
            icon: 'fa-home'
          },
          {
            el: '#income',
            offset: -70,
            title: 'Family Income',
            icon: 'fa-bitcoin'
          },
          {
            el: '#expenditures',
            offset: -70,
            title: 'Expenditures',
            icon: 'fa-credit-card'
          },
          {
            el: '#psychosocial',
            offset: -70,
            title: 'Psychosocial',
            icon: 'fa-street-view'
          }
        ],
        offsetTop: 0,
        profile: require('@/assets/profile/DP.jpg'),
        backGroundProfile: require('@/assets/profile/BDP.jpeg')
      }
    },
    computed: {
      family: function () {
        return this.$store.getters['families/family']
      }
    },
    methods: {
      handleScroll: function (e) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      }
    }
  }
</script>
