<template>
    <v-flex xs12 class="text-xs-center loader">
        <v-progress-circular indeterminate :size="size" class="primary--text"></v-progress-circular>
    </v-flex>
</template>

<script>
  export default {
    props: {
      size: {
        type: Number,
        required: false,
        default: 50
      }
    }
  }
</script>
