<template lang="html">
  <v-dialog v-model="dialog" max-width="1400px">
    <v-btn flat icon color="white" slot="activator">
      <v-icon>fa-plus</v-icon>
    </v-btn>
    <v-card>
      <v-card-text>
      <v-stepper v-model="el" :non-linear="true">

        <v-stepper-header>
          <v-stepper-step step="1" @click.native="el = 1" class="pointer">Personal Information</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" @click.native="el = 2" class="pointer">Education</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" @click.native="el = 3" class="pointer">Health</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="4" @click.native="el = 4" class="pointer">Livestock</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="5" @click.native="el = 5" class="pointer">Housing</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="6" @click.native="el = 6" class="pointer">Family Income</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="7" @click.native="el = 7" class="pointer">Expenditures</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="8" @click.native="el = 8" class="pointer">Pyschosocial</v-stepper-step>
        </v-stepper-header>

        <v-stepper-content step="1" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <personal-info-steppers></personal-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="2" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <education-info-steppers></education-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="3" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <health-info-steppers></health-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="4" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height" style="border:solid;">
            <livestock-info-steppers></livestock-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="5" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <housing-info-steppers></housing-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="6" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <family-income-info-steppers></family-income-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="7" class="steppers-margin-bottom">
          <v-flex class="mb-5 stepper-height">
            <expenditures-info-steppers></expenditures-info-steppers>
          </v-flex>
        </v-stepper-content>
        <v-stepper-content step="8" class="steppers-margin-bottom">
          <v-flex color="grey lighten-1" class="mb-5 stepper-height">
            <psychosocial-info-steppers></psychosocial-info-steppers>
          </v-flex>
          <v-btn color="primary">Save and Exit</v-btn>
          <v-btn flat>Reset</v-btn>
        </v-stepper-content>
        </v-stepper>

      </v-card-text>
    </v-card>
  </v-dialog>

</template>

<script lang="js">
  import LivestockInfoSteppers from '@/components/steppers/LivestockInfoSteppers'
  import PersonalInfoSteppers from '@/components/steppers/PersonalInfoSteppers'
  import EducationInfoSteppers from '@/components/steppers/EducationInfoSteppers'
  import HealthInfoSteppers from '@/components/steppers/HealthInfoSteppers'
  import HousingInfoSteppers from '@/components/steppers/HousingInfoSteppers'
  import FamilyIncomeInfoSteppers from '@/components/steppers/FamilyIncomeInfoSteppers'
  import ExpendituresInfoSteppers from '@/components/steppers/ExpendituresInfoSteppers'
  import PsychosocialInfoSteppers from '@/components/steppers/PsychosocialInfoSteppers'

  export default {
    name: 'steppers',
    props: [],
    mounted () {

    },
    data () {
      return {
        dialog: false,
        el: 0
      }
    },
    components: {
      PersonalInfoSteppers,
      EducationInfoSteppers,
      HealthInfoSteppers,
      HousingInfoSteppers,
      FamilyIncomeInfoSteppers,
      ExpendituresInfoSteppers,
      PsychosocialInfoSteppers,
      LivestockInfoSteppers
    }
}
</script>

<style scoped lang="stylus">
.steppers-margin-bottom
  margin-bottom: -50px
  .stepper-height
    max-height: 500px
    min-height: 200px
    overflow-x: auto
</style>
