<template>
  <transition name="slide-x-reverse-transition">
    <v-flex floating xs4 class="search-container">
      <v-flex xs12 style="padding: 10px;">
        <v-text-field
          light
          :append-icon-cb="() => updateQuery('')"
          :append-icon="query ? 'fa-close' : 'fa-search'"
          :value="query"
          @keyup.enter="onKeyUp"
          placeholder="Search"
          class="text"
        ></v-text-field>
      </v-flex>
    </v-flex>
  </transition>
</template>

<script>
  import Vue from 'vue'
  import _ from 'lodash'

  import {
    UPDATE_SEARCH_QUERY,
    CLEAR_SEARCH
  } from '@/constants/events'
  import { SEARCH } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    data () {
      return {
      }
    },
    computed: {
      query: function () {
        return this.storeFilters[SEARCH]
      }
    },
    methods: {
      updateQuery: function (query) {
        this.redirectToHome()
        Vue.set(this.$store.state.filters.filters, SEARCH, query)
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      },
      onKeyUp: _.debounce(function (event) {
        this.updateQuery(event.target.value)
      }, 500),
      reset: function () {
        this.query('')
        this.onKeyUp
      }
    },
    mixins: [FiltersMixin],
    created: function () {
      this.$eventHub.$on(CLEAR_SEARCH, this.reset.bind(this))
    },
    beforeDestroy: function () {
      this.$eventHub.$off(CLEAR_SEARCH, this.reset.bind(this))
    }
  }
</script>

<style scoped lang="stylus">
  .search-container
    background-color: white
    height:50px
    .text
      margin-top:-20px
      padding: -5px
</style>
