<template>
  <v-toolbar fixed app :clipped-left="true" dark color="blue darken-4" class="toolbar-container">
    <v-toolbar-title class="pointer" @click="navigate('home-page')">Home</v-toolbar-title>
    <v-spacer></v-spacer>
    <steppers></steppers>

    <v-btn flat icon @click="isVisible = !isVisible">
      <v-icon>{{ isVisible ? 'fa-close' : 'fa-search' }}</v-icon>
    </v-btn>

    <the-header-search v-show="isVisible"></the-header-search>

    <v-btn flat dark @click="toggleFilter()">Filter</v-btn>

    <v-btn flat dark @click="clear()">Clear</v-btn>

  </v-toolbar>
</template>

<script>
  import {
    EVENT_TOGGLE_FILTER,
    EVENT_RESET_FILTER,
    EVENT_FILTER,
    CLEAR_SEARCH
  } from '@/constants/events'
  import FiltersMixin from '@/mixins/filters'
  import _ from 'lodash'
  import TheHeaderSearch from './TheHeaderSearch'
  import Steppers from './Steppers'

  export default {
    data () {
      return {
        isVisible: false
      }
    },
    methods: {
      navigate: function (routeName) {
        this.$router.push({'name': routeName})
      },
      clear: function () {
        _.forEach(this.storeFilters, (value, key) => {
          this.$delete(this.storeFilters, key, value)
        })
        this.$eventHub.$emit(EVENT_RESET_FILTER)
        this.$eventHub.$emit(EVENT_FILTER)
        this.$eventHub.$emit(CLEAR_SEARCH, '')
      },
      toggleFilter: function () {
        this.$eventHub.$emit(EVENT_TOGGLE_FILTER)
      }
    },
    components: {
      TheHeaderSearch,
      Steppers
    },
    mixins: [FiltersMixin]
  }
</script>

<style scoped lang="stylus">
  .toolbar-container
    z-index:99999
</style>
