<template lang="html">

  <section class="family-income">
    <v-layout row wrap>
      <v-flex lg2 class="pl-2 pr-2">
      <small>GROSS FAM. INCOME</small>
        <v-text-field
          name="input-1-3"
          :value="income.gross_monthly_income"
          v-model="income.gross_monthly_income"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FARMING</small>
        <v-text-field
          name="input-1-3"
          :value="income.farming"
          v-model="income.farming"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FISHING</small>
        <v-text-field
          name="input-1-3"
          :value="income.fishing"
          v-model="income.fishing"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>GOV. EMPLOYMENT</small>
        <v-text-field
          name="input-1-3"
          :value="income.government_employment"
          v-model="income.government_employment"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PRIV. EMPLOYMENT</small>
        <v-text-field
          name="input-1-3"
          :value="income.private_employment"
          v-model="income.private_employment"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OFW REMITTANCE</small>
        <v-text-field
          name="input-1-3"
          :value="income.ofw_remittances"
          v-model="income.ofw_remittances"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PENSION</small>
        <v-text-field
          name="input-1-3"
          :value="income.pension"
          v-model="income.pension"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SUBSIDIES</small>
        <v-text-field
          name="input-1-3"
          :value="income.subsidies"
          v-model="income.subsidies"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SELF EMPLOYMENT</small>
        <v-text-field
          name="input-1-3"
          :value="income.self_employment"
          v-model="income.self_employment"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>BUSINESS</small>
        <v-text-field
          name="input-1-3"
          :value="income.business"
          v-model="income.business"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER SOURCES</small>
        <v-text-field
          name="input-1-3"
          :value="income.other_sources"
          v-model="income.other_sources"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTH. INC. SRC.</small>
        <v-text-field
          name="input-1-3"
          :value="income.other_income_sources"
          v-model="income.other_income_sources"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg12 class="pl-2 pr-2">
        <span>PERSONAL PROPERTY</span>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="addAssets"
                  @keyup.enter="add(addAssets)"
                  label="Add Assets"
                  class="margin-top-negative"
                  v-show="isIncomeDisabled === false"
                ></v-text-field>
                <template 
                  v-for="(asset ,index) in assets.personal_properties" >
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index)"
                      class="pointer"
                  >
                      {{asset.name}}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MONTHLY BANK SAVINGS</small>
        <v-text-field
          name="input-1-3"
          :value="assets.monthly_bank_savings"
          v-model="assets.monthly_bank_savings"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MONTHLY COOP. SAVINGS</small>
        <v-text-field
          name="input-1-3"
          :value="assets.monthly_cooperative_savings"
          v-model="assets.monthly_cooperative_savings"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MONTHLY OTHERS SAVINGS</small>
        <v-text-field
          name="input-1-3"
          :value="assets.monthly_others_savings"
          v-model="assets.monthly_others_savings"
          single-line
          class="text-margin-negative"
          :disabled="isIncomeDisabled"
        ></v-text-field>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.isIncomeDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="updateData()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>
          <v-btn @click.prevent="editFamilyIncomeAndAssets(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_FAMILY_INCOME } from '@/constants/events'
  export default {
    name: 'family-income',
    props: [],
    data () {
      return {
        isIncomeDisabled: true,
        isIncomeSaving: false,
        isAssetsSaving: false,
        addAssets: ''
      }
    },
    methods: {
      editFamilyIncomeAndAssets: function (state) {
        this.isIncomeDisabled = !state
      },
      patchFamilyIncome: function () {
        this.isIncomeSaving = true
        this.$store.dispatch('families/patchFamilyIncome', this.income).then(() => {
          this.isIncomeSaving = false
        }).catch(() => {
          this.isIncomeSaving = false
        })
      },
      patchFamilyAssets: function () {
        this.isAssetsSaving = true
        this.$store.dispatch('families/patchFamilyAssets', this.assets).then(() => {
          this.isAssetsSaving = false
        }).catch(() => {
          this.isAssetsSaving = false
        })
      },
      updateData: function () {
        this.patchFamilyAssets()
        this.patchFamilyIncome()
      },
      remove: function (index) {
        this.assets.personal_properties.splice(index, 1)
      },
      add: function (name) {
        this.assets.personal_properties.push({ name: name })
      }
    },
    computed: {
      income: function () {
        return this.$store.getters['families/familyIncome']
      },
      assets: function () {
        return this.$store.getters['families/familyAssets']
      },
      isSaving: function () {
        return !(!this.isAssetsSaving)
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_FAMILY_INCOME, this.editFamilyIncomeAndAssets)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FAMILY_INCOME, this.editFamilyIncomeAndAssets)
    }
}
</script>

<style scoped lang="stylus">
</style>
