<template lang="html">
  <v-card  id="income" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">FAMILY INCOME AND ASSETS</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="editFamilyIncomeAndAssets(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
    <family-income></family-income>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FamilyIncome from './FamilyIncome'
  import { EVENT_FAMILY_INCOME } from '@/constants/events'

  export default {
    name: 'family-income-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isFamilyIncome: true
      }
    },
    methods: {
      editFamilyIncomeAndAssets: function (state) {
        this.$eventHub.$emit(EVENT_FAMILY_INCOME, state)
      }
    },
    computed: {

    },
    components: {
      FamilyIncome
    }
}
</script>

<style scoped lang="stylus">
</style>
