<template lang="html">
  <section class="family-head">
    <v-layout row wrap>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NAME OF FAMILY HEAD</small>
        <v-text-field
          :value="family.head.name"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.head.name"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2" v-show="isProfileDisabled">
        <small>AGE</small>
        <v-text-field
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          :value="roleAge('head')"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>DATE OF BIRTH</small>
        <v-text-field
          :value="family.head.birth_date"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.head.birth_date"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>CONTACT NO.</small>
        <v-text-field
          :value="family.head.contact_number"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.head.contact_number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>MOBILE NO.</small>
        <v-text-field
          :value="family.head.cellphone_number"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.head.cellphone_number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>TRACKING NO.</small>
        <v-text-field
          :value="family.tracking_number"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.tracking_number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>SERIES NO.</small>
        <v-text-field
          :value="family.series_number"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.series_number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>GENDER</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.gender"
              :disabled="isProfileDisabled"
              :append-icon="null"
              v-model="family.head.gender"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>CIVIL STATUS</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.civil_status"
              :disabled="isProfileDisabled"
              :append-icon="null"
              v-model="family.head.civil_status"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>RELIGION</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.religion"
              :disabled="isProfileDisabled"
              :append-icon="null"
              v-model="family.head.religion"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>TRIBE</small>
        <v-select class="pt-0"
              :items="tribeChoices"
              :disabled="isProfileDisabled"
              :append-icon="null"
              v-model="family.tribe_type"
            ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>HIGHEST ATTAINMENT</small>
        <v-select class="pt-0"
              :items="storeChoices.educational_attainment"
              :placeholder="family.head.highest_educational_attainment"
              :disabled="isProfileDisabled"
              :append-icon="null"
              v-model="family.head.highest_educational_attainment"
            ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>ADDRESS</small>
        <v-text-field
          :value="family.address"
          single-line
          class="pt-0"
          :disabled="isProfileDisabled"
          v-model="family.address"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NO. OF MALE CHILD</small>
        <v-text-field
          :disabled="isProfileDisabled"
          class="pt-0"
          single-line
          v-model="family.num_of_male_children"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NO. OF FEMALE CHILD</small>
        <v-text-field
          :disabled="isProfileDisabled"
          class="pt-0"
          single-line
          v-model="family.num_of_female_children"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>GOV. AID</small>
        <v-select class="pt-0"
          :append-icon="null"
          :disabled="isProfileDisabled"
          :items="govAidChoices"
          v-model="family.government_aid_received"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg2  class="pl-2 pr-2">
        <small>BLOOD TYPE</small>
        <v-select class="pt-0"
          :append-icon="null"
          :disabled="isProfileDisabled"
          :items="storeChoices.blood_type"
          v-model="family.head.blood_type"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg4 class="pl-2 pr-2">
        <small>MAP POINTS</small>
        <v-text-field
          :disabled="isProfileDisabled"
          class="pt-0"
          single-line
          v-model="family.map_points"
        ></v-text-field>
      </v-flex>
      <v-flex lg12 style="padding: 8px;">
        <strong>
          Family Spouse
        </strong>
        <v-btn flat icon @click="addSpouse()" v-show="!isProfileDisabled">
          <v-icon>fa-plus</v-icon>
        </v-btn>
      </v-flex>
      <v-flex>
        <v-layout row wrap v-for="(spouse, index) in spouseToArray" :key="index">
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>SPOUSE NAME</small>
          <v-text-field
            single-line
            class="pt-0"
            :placeholder="spouse.name"
            v-model="spouse.name"
            :disabled="isProfileDisabled"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>CONTACT NUMBER</small>
          <v-text-field
            single-line
            class="pt-0"
            :placeholder="spouse.contact_number"
            :disabled="isProfileDisabled"
          ></v-text-field>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>RELIGION</small>
          <v-select
            class="text-margin-negative"
            v-bind:items="storeChoices.religion"
            :append-icon="null"
            v-model="spouse.religion"
            :disabled="isProfileDisabled"
          ></v-select>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2" 
            v-show="isProfileDisabled">
          <small>AGE</small>
          <v-text-field
            single-line
            class="pt-0"
            :value="roleAge('spouse')"
            :disabled="isProfileDisabled"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>BIRTH DATE</small>
          <v-text-field
            single-line
            class="pt-0"
            :placeholder="spouse.birth_date"
            :disabled="isProfileDisabled"
          ></v-text-field>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>BLOOD TYPE</small>
          <v-select
            class="text-margin-negative"
            :append-icon="null"
            v-bind:items="storeChoices.blood_type"
            :disabled="isProfileDisabled"
            v-model="spouse.blood_type"
          ></v-select>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>HIGHEST ATTAINMENT</small>
          <v-select
            class="text-margin-negative"
            :items="storeChoices.educational_attainment"
            :disabled="isProfileDisabled"
            :append-icon="null"
            v-model="spouse.highest_educational_attainment"
          ></v-select>
        </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg12 style="padding: 8px;">
        <strong >
          Dependents
        </strong>
        <v-btn flat icon @click="addDependents()" v-show="!isProfileDisabled">
          <v-icon>fa-plus</v-icon>
        </v-btn>
      </v-flex>
      <v-flex lg12>
        <v-layout row wrap v-for="(item, index) in dependents" :key="index">
          <v-flex xs12 sm3 lg12 class="pl-2 pr-2">
            <small>DEPENDENTS TEXT</small>
            <v-text-field
              single-line
              class="pt-0"
              placeholder="Relation"
              v-model="family.dependents_text"
              :disabled="isProfileDisabled"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
            <small>NAME</small>
            <v-text-field
              single-line
              class="pt-0"
              placeholder="Dependents Name"
              :disabled="isProfileDisabled"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
            <small>BIRTH DATE</small>
            <v-text-field
              single-line
              class="pt-0"
              placeholder="Birth Date"
              :disabled="isProfileDisabled"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
            <small>RELATION</small>
            <v-text-field
              single-line
              class="pt-0"
              placeholder="Relation"
              :disabled="isProfileDisabled"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
            <small>GENDER</small>
            <v-select
              class="text-margin-negative"
              placeholder="Gender"
              :append-icon="null"
              :items="storeChoices.gender"
              :disabled="isProfileDisabled"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex
          lg12
          class="text-lg-right text-margin-possitive"
          v-show="!this.isProfileDisabled"
        >
          <image-cropper :upload-url="imageUploadUrl"></image-cropper>

          <v-btn
            :loading="isSaving"
            @click.prevent="updateData()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>
          <v-btn @click.prevent="editPersonalInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>
</template>

<script lang="js">
  import moment from 'moment'
  import ImageCropper from '@/components/ImageCropper'
  import { EDIT_PERSONAL_INFO } from '@/constants/events'
  import FilterMixins from '@/mixins/filters'

  export default {
    data () {
      return {
        id: null,
        isFamilySaving: false,
        isHeadSaving: false,
        isSpouseSaving: false,
        isProfileDisabled: true,
        tribeChoices: [
           {value: 'ip', text: 'IP'},
           {value: 'non-ip', text: 'Non-IP'},
           {value: 'muslim', text: 'Muslim'}
        ],
        govAidChoices: [
          {value: 'htps', text: 'HTPS'},
          {value: 'non-4ps', text: 'Non-4Ps'},
          {value: '4ps', text: '4Ps'}
        ],
        dependents: [
          {
            name: '',
            birth_date: '',
            relation: '',
            gender: ''
          }
        ],
        age: null
      }
    },
    methods: {
      editPersonalInfo: function (state) {
        this.isProfileDisabled = !state
      },
      patchFamily: function () {
        this.isFamilySaving = true
        this.$store.dispatch('families/patchFamily', this.family).then(() => {
          this.isFamilySaving = false
        }).catch(() => {
          this.isFamilySaving = false
        })
      },
      patchFamilyHead: function () {
        this.isHeadSaving = true
        this.$store.dispatch('families/patchFamilyHead', this.family.head).then(() => {
          this.isHeadSaving = false
        }).catch(() => {
          this.isHeadSaving = false
        })
      },
      patchFamilySpouse: function () {
        this.isSpouseSaving = true
        this.$store.dispatch('families/patchFamilySpouse', this.family.spouse).then(() => {
          this.isSpouseSaving = false
        }).catch(() => {
          this.isSpouseSaving = false
        })
      },
      updateData: function () {
        this.patchFamily()
        this.patchFamilyHead()
        this.patchFamilySpouse()
      },
      addSpouse: function () {
        this.spouseToArray.push({
          birth_date: '',
          blood_type: '',
          contact_number: '',
          highest_educational_attainment: '',
          name: '',
          religion: ''
        })
        this.updateData()
      },
      addDependents: function () {
        this.dependents.push({
          name: '',
          birth_date: '',
          relation: '',
          gender: ''
        })
        this.updateData()
      },
      roleAge: function (role) {
        return role === 'head' ? moment().diff(moment().format(this.family.head.birth_date, 'YYYY-DD-MM'), 'years') : moment().diff(moment().format(this.family.spouse.birth_date, 'YYYY-DD-MM'), 'years')
      }
    },
    mixins: [
      FilterMixins
    ],
    computed: {
      family: function () {
        return this.$store.getters['families/family']
      },
      imageUploadUrl: function () {
        return `/families/heads/${this.family.id}/upload-image/`
      },
      isSaving: function () {
        return !(!this.isFamilySaving && !this.isHeadSaving && !this.isSpouseSaving)
      },
      spouseToArray () {
        let result = [this.family.spouse]
        return result
      }
    },
    components: {
      ImageCropper
    },
    created: function () {
      this.$eventHub.$on(EDIT_PERSONAL_INFO, this.editPersonalInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EDIT_PERSONAL_INFO, this.editPersonalInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
