<template>
  <v-card xs12 id="personal-info" class="mt-3">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">PERSONAL INFORMATION</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="editPersonalInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <family-head></family-head>
    </v-card-text>
  </v-card>
</template>

<script>
  import FamilyHead from './FamilyHead'
  import { EDIT_PERSONAL_INFO } from '@/constants/events'

  export default {
    data () {
      return {
        isPersonalInfo: true
      }
    },
    methods: {
      editPersonalInfo: function (state) {
        this.$eventHub.$emit(EDIT_PERSONAL_INFO, state)
      }
    },
    components: {
      FamilyHead
    }
  }
</script>
<style scoped lang="stylus">
  .negative-top 
    margin-top: -10px
</style>
