<template>
  <div
    class="map-div"
    :style="divStyle"
  >
    <iframe
      :height="computedHeight"
      :src="source"
      :width="width"
      @load="loaded"
      frameborder="0"
      v-show="!this.isLoading"
    ></iframe>

    <progress-circular v-show="isLoading"></progress-circular>

    <v-tooltip left>
      <v-btn
        @click="isFullScreen = !isFullScreen"
        absolute
        bottom
        class="btn-toggle"
        color="blue darken-4"
        dark
        fab
        right
        slot="activator"
        v-show="!isLoading"
      >
        <v-icon dark medium v-if="isFullScreen">fa-compress</v-icon>
        <v-icon dark medium v-else>fa-expand</v-icon>
      </v-btn>
      <span>Toggle Full Screen</span>
    </v-tooltip>
  </div>
</template>

<script>
  import querystring from 'querystring'

  import FiltersMixin from '@/mixins/filters'
  import ProgressCircular from '@/components/shared/ProgressCircular'

  export default {
    data () {
      return {
        baseUrl: 'http://localhost:8000/maps/',
        isLoading: true,
        isFullScreen: false
      }
    },
    props: {
      height: {
        type: String,
        default: '300px'
      },
      width: {
        type: String,
        default: '100%'
      }
    },
    computed: {
      source: function () {
        return `${this.baseUrl}?${querystring.stringify(this.storeFilters)}`
      },
      divStyle: function () {
        return {
          'height': this.computedHeight,
          'min-height': this.computedHeight,
          'width': this.width,
          'position': 'relative'
        }
      },
      computedHeight: function () {
        return this.isFullScreen ? '800px' : this.height
      }
    },
    methods: {
      loaded: function () {
        this.isLoading = false
      }
    },
    components: {
      ProgressCircular
    },
    mixins: [FiltersMixin]
  }
</script>

<style scoped lang="stylus">
  .btn-toggle .fa
    display: inline-flex

</style>
