<template>
  <v-card>
    <v-card-text>
      <section class="education">
        <v-layout row wrap>
          <v-flex lg2 class="pl-2 pr-2">
          <small>DAYCARE CHILD</small>
            <v-text-field
              name="input-1-3"
              placeholder="Daycare child"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN IN KINDER</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children in kinder"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>CHILDREN IN ELEM.</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select class="text-margin-negative"
                    :items="storeChoices.null_boolean"
                    placeholder="Children in elementary"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>ABLE TO READ & WRITE</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select class="text-margin-negative"
                    :items="storeChoices.null_boolean"
                    placeholder="Able to read and write"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>ABLE TO VOTE</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select class="text-margin-negative"
                    :items="storeChoices.null_boolean"
                    placeholder="Able to vote"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>ABLE TO ATTEND BRGY. ASEEMBLY</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select class="text-margin-negative"
                    :items="storeChoices.null_boolean"
                    placeholder="Able to attend barangay assembly"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN NOT IN ELEM.</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children no in elementary"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN NOT IN JR. H.S.</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children not in JR. H.S"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN NOT IN SR. H.S.</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children not in SR. H.S"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN NOT IN COLLEGE</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children not in college"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN COLLEGE GRADUATE</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children college graduate"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN IN COLLEGE LEVEL</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children in college level"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN HIGH SCHOOL GRADUATE</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children high school graduate"
              single-line
              class="text-margin-negative"
              text-center
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN IN HIGH SCHOOL LEVEL</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children in highschool level"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN ELEMENTARY GRADUATE</small>
            <v-text-field
              name="input-1-3"
              placeholder="Children in elementary graduate"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CHILDREN IN ELEMENTARY LEVEL</small>
            <v-text-field
              name="input-1-3"
              type="number"
              placeholder="Children in level"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </section>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FilterMixins from '@/mixins/filters'
  export default {
    mixins: [
      FilterMixins
    ]
  }
</script>

<style scoped lang="stylus">
  
</style>