<template>
  <v-card>
    <v-card-text>
      <section class="expenditures">
        <v-layout row wrap>
          <v-flex lg2 class="pl-2 pr-2">
          <small>FOOD</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Food"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>EDUCATION</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Education"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>MEDICINE</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Medicine"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>POWER BILL</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Power Bill"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>WATER BILL</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Water Bill"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>PHILHEALTH</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="PhilHealth"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>PAG IBIG</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Pag Ibig"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>G.S.I.S.</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Gsis"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>CLOTHING</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Clothing"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>INSURANCE</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Insurance"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>VEHICLE</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Vehicle"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>TAXES</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Taxes"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>DEBT REPAYMENTS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Debt Repayment"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>HOUSE RENTAL</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="House Rental"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>HOUSE HELPER</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="House Helper"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>SERVICES</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Services"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>OTHERS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Others"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>OTH. EXPENDITURES</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Other Expenditures"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </section>
    </v-card-text>
  </v-card>
</template>

<style></style>

<script lang="js"></script>