<template>
  <v-card>
    <v-card-text>
      <section class="family-income">
        <v-layout row wrap>
          <v-flex lg2 class="pl-2 pr-2">
          <small>GROSS FAM. INCOME</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Gross Family Income"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>FARMING</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Farming"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>FISHING</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Fishing"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>GOV. EMPLOYMENT</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Government Employment"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>PRIV. EMPLOYMENT</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Private Employment"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>OFW REMITTANCE</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="OFW Remittance"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>PENSION</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Pension"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>SUBSIDIES</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Subsides"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>SELF EMPLOYMENT</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>BUSINESS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Business"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>OTHER SOURCES</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Other Sources"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>OTH. INC. SRC.</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Other Income Source"
            ></v-text-field>
          </v-flex>
          <v-flex lg12 class="pl-2 pr-2">
            <span>PERSONAL PROPERTY</span>
            <template >
                <v-card>
                  <v-card-text>
                    <v-text-field
                      v-model="personal_property"
                      @keyup.enter="add(personal_property)"
                      label="Add Personal Property"
                      class="margin-top-negative"
                    ></v-text-field>
                    <template v-for="(personal_property, index) in personal_property_data">
                      <v-chip 
                          :key="index" 
                          close
                          @input="remove(index)"
                          class="pointer"
                      >
                        {{ personal_property.name }}
                      </v-chip>
                    </template>
                  </v-card-text>
                </v-card>
                </div>
            </template>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>MONTHLY BANK SAVINGS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Monthly Bank Savings"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>MONTHLY COOP. SAVINGS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Monthly Cooperative Savings"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>MONTHLY OTHERS SAVINGS</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Monthly Others Savings"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </section>

    </v-card-text>
  </v-card>
</template>

<script lang="js">
  export default {
    data () {
      return {
        personal_property: '',
        personal_property_data: []
      }
    },
    methods: {
      remove: function (index) {
        this.personal_property_data.splice(index, 1)
      },
      add: function (name) {
        this.personal_property_data.push({ name: name })
      }
    }
  }
</script>

<style lang="stylus"></style>