<template>
  <v-card>
    <v-card-text>
      <section class="health">
        <v-layout row wrap>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>NEWBORN (2.5kg)</small>
            <v-select
                single-line
                class="pt-0"
                :items="storeChoices.null_boolean"
                placeholder="New born?"
                :append-icon="null"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>WT. OF NEW BORN (kg)</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Weight of new born"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>NEWBORN below (2.5kg)</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="New born below 2.5kg"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>WT. OF NEW BORN (kg)</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Weight of new born"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>CHILDREN IMMUNIZED</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Children Immunized?"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>AGE LAST IMMUNIZED</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Age last immunized"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>MALNOURISHED CHILDREN</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Malnourished children"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>TAKE SUP. (pregnancy)</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Taked suppliments"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg3 class="pl-2 pr-2">
          <small>PREGNANCY SUPPLIMENTS</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Pregnancy Suppliments"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>SERVICES (prenatal)</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Take Pre natal services?"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>TRAINED DELIV.</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Trained Delivery"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>DIED CHILDREN</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Died Children"
                  :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>SICKNESS (children)</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Sickness children"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>SICKNESS (adult)</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Sicknes adult"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>PHIL HEALTH MEMBERSHIP</small>
            <v-layout row wrap>
              <v-flex lg22>
                  <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.null_boolean"
                  placeholder="Phil Healt Membership"
                  :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
          <small>MALNOURISHED NOTES</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Malnourished notes"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
          <small>PRE NATAL SERVICES</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Pre Natal Services Notes"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
          <small>DEATH OCCURENCE NOTES</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Death Occurence Notes"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
          <small>TRAINED DELIVERY NOTES</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Trained Delivery Notes"
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
      </section>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FilterMixins from '@/mixins/filters'
  export default {
    mixins: [
      FilterMixins
    ]
  }
</script>

<style scoped lang="stylus">

</style>