<template lang="html">
  <v-card>
    <v-card-text>
      <section class="housing">
        <v-layout row wrap>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>ACCESS TO ROAD</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Access to road"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>ARMED CONFLICT</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Armed conflict"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>DISEASE OUTBREAK</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Disease Outbrak"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>DIS. FROM GRGY. HALL</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Brgy. Hall Distance"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>EARTHQUAKE FREQUENCY</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Earthquake Frequency"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>FLOOD FREQUENCY</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Flood Frequency"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>LANDSLIDE FREQUENCY</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Landslide Frequency"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>STORM SURGE</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Storm Surge"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>TORNADO FREQUENCY</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Tornado Frequency"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>VEHICULAR ACCEDENT</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Vehicular Accedent"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row row class="pl-2 pr-2">
          <small>OWNERSHIP</small>
            <v-layout row wrap>
              <v-flex lg22>
                <v-select
                  single-line
                  class="pt-0"
                  v-bind:items="storeChoices.ownership_status"
                  placeholder="Ownership Status"
                  :append-icon="null"
                ></v-select> 
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>GPS LATITUDE</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Gps Latitude"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>GPS LONGITUDE</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg3 row class="pl-2 pr-2" v-if="housing.roof_material">
          <small>ROOF MATERIAL</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Roof Material"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg3 row class="pl-2 pr-2" v-if="housing.walling_material">
          <small>WALLING MATERIAL</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Walling Material"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2" v-if="housing.building_type">
          <small>BUILDING TYPE</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="building Type"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>ELECTRICITY OTHERS</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholder="Electricity Others"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2" v-if="housing.toilet">
          <small>TOILET</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              :value="housing.toilet.name"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2" v-if="housing.garbage_disposal">
          <small>GARBAGE DISPOSAL</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              :value="housing.garbage_disposal.name"
              single-line
            ></v-text-field>
          </v-flex>

          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>ACCESS ROAD DISTANCE</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              single-line
              placeholder="Distance to road"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>HOME TO FARM</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              placeholer="Home to Farm"
              single-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>FARM TO ROAD</small>
            <v-text-field
              single-line
              class="pt-0"
              name="input-1-3"
              single-line
              placeholder="Farm to Road"
            ></v-text-field>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
            <span>BUILDING ELECTRICITY</span>
            <template >
                <v-card>
                  <v-card-text>
                    <v-text-field
                      v-model="building_electricity"
                      @keyup.enter="add(building_electricity, 'building_electricity_data')"
                      label="Add Building Electricity"
                      class="margin-top-negative"
                    ></v-text-field>
                    <template v-for="(building_electricity, index) in building_electricity_data">
                      <v-chip 
                          :key="index" 
                          close
                          @input="remove(index, 'building_electricity_data')"
                          class="pointer"
                      >
                        {{ building_electricity.name }}
                      </v-chip>
                    </template>
                  </v-card-text>
                </v-card>
                </div>
            </template>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
            <span>WATER SOURCE</span>
            <template >
                <v-card>
                  <v-card-text>
                    <v-text-field
                      v-model="water_source"
                      @keyup.enter="add(water_source, 'water_source_data')"
                      label="Add Water Source"
                      class="margin-top-negative"
                    ></v-text-field>
                    <template v-for="(water_source, index) in water_source_data">
                      <v-chip 
                          :key="index" 
                          close
                          @input="remove(index, 'water_source_data')"
                          class="pointer"
                      >
                        {{ water_source.name }}
                      </v-chip>
                    </template>
                  </v-card-text>
                </v-card>
                </div>
            </template>
          </v-flex>
          <v-flex lg4 class="pl-2 pr-2">
            <span>PRODUCT INFORMATION</span>
            <template >
                <v-card>
                  <v-card-text>
                    <v-text-field
                      v-model="product_information"
                      @keyup.enter="add(product_information, 'product_information_data')"
                      label="Add Product Information"
                      class="margin-top-negative"
                    ></v-text-field>
                    <template v-for="(product_information, index) in product_information_data">
                      <v-chip 
                          :key="index" 
                          close
                          @input="remove(index, 'product_information_data')"
                          class="pointer"
                      >
                        {{ product_information.name }}
                      </v-chip>
                    </template>
                  </v-card-text>
                </v-card>
                </div>
            </template>
          </v-flex>
        </v-layout>
      </section>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FilterMixins from '@/mixins/filters'
  export default {
    data () {
      return {
        building_electricity: '',
        building_electricity_data: [],
        water_source: '',
        water_source_data: [],
        product_information: '',
        product_information_data: []
      }
    },
    methods: {
      remove: function (index, arrayName) {
        return arrayName === 'building_electricity_data' ? this.building_electricity_data.splice(index, 1) : arrayName === 'water_source_data' ? this.water_source_data.splice(index, 1) : this.product_information_data.splice(index, 1)
      },
      add: function (name, arrayName) {
        return arrayName === 'building_electricity_data' ? this.building_electricity_data.push({ name: name }) : arrayName === 'water_source_data' ? this.water_source_data.push({ name: name }) : this.product_information_data.push({ name: name })
      }
    },
    computed: {
      housing: function () {
        return this.$store.getters['housing/housing']
      }
    },
    mixins: [
      FilterMixins
    ]
  }
</script>

<style lang="stylus"></style>