<template>
  <v-card>
  	<v-card-text>
  		<section class="live-stock">
		    <v-layout row wrap>
		      <v-flex lg6 class="pl-2 pr-2">
		        <span>WASTE PRACTICES</span>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="waste_practices"
		                  @keyup.enter="add(waste_practices, 'waste_practices_data')"
		                  label="Waste Practices"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(waste_practices, index) in waste_practices_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'waste_practices_data')"
		                      class="pointer"
		                  >
		                    {{ waste_practices.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>WORKERS</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="workers"
		                  @keyup.enter="add(workers, 'workers_data')"
		                  label="Workers"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(workers, index) in workers_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'workers_data')"
		                      class="pointer"
		                  >
		                    {{ workers.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>LABORS</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="labors"
		                  @keyup.enter="add(labors, 'labors_data')"
		                  label="Labors"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(labors, index) in labors_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'labors_data')"
		                      class="pointer"
		                  >
		                    {{ labors.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>LIVESTOCKS</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="live_stocks"
		                  @keyup.enter="add(live_stocks, 'live_stocks_data')"
		                  label="Livestocks"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(live_stocks, index) in live_stocks_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'live_stocks_data')"
		                      class="pointer"
		                  >
		                    {{ live_stocks.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>MARKETING</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="marketing"
		                  @keyup.enter="add(marketing, 'marketing_data')"
		                  label="Marketing"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(marketing, index) in marketing_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'marketing_data')"
		                      class="pointer"
		                  >
		                    {{ marketing.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>MARKET OUTLETS</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="market_outlets"
		                  @keyup.enter="add(market_outlets, 'market_outlets_data')"
		                  label="Market Outlet"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(market_outlets, index) in market_outlets_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'market_outlets_data')"
		                      class="pointer"
		                  >
		                    {{ market_outlets.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>FINANCING PRACTICES DATA</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="financing_practices"
		                  @keyup.enter="add(financing_practices, 'financing_practices_data')"
		                  label="Financing Practices"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(financing_practices, index) in financing_practices_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'financing_practices_data')"
		                      class="pointer"
		                  >
		                    {{ financing_practices.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg6 class="pl-2 pr-2">
		        <small>SEED TYPES DATA</small>
		        <template >
		            <v-card>
		              <v-card-text>
		                <v-text-field
		                  v-model="seed_types"
		                  @keyup.enter="add(seed_types, 'seed_types_data')"
		                  label="Seed Type"
		                  class="margin-top-negative"
		                ></v-text-field>
		                <template v-for="(seed_types, index) in seed_types_data">
		                  <v-chip 
		                      :key="index" 
		                      close
		                      @input="remove(index, 'seed_types_data')"
		                      class="pointer"
		                  >
		                    {{ seed_types.name }}
		                  </v-chip>
		                </template>
		              </v-card-text>
		            </v-card>
		            </div>
		        </template>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TENURIAL INSTRUMENT</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>FARMING PRAC.</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TOTAL AREA</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER AREAS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OWNED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>RENTED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TENANT</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>MORTAGED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>MORTAGED REQUIRED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TOT. LAND AREA</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TOT. LAND AREA OTHERS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>FARMING PRAC.</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER WORKERS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER WASTE PRAC.</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>PAKYAW / LABOR</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>SALE INCOME</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>SALE NUMBER</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER INCOME</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>CROP TYPE</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>FARM TYPE</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>IRRIGATED VALUE</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>INORGANIC BAGS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>ORGANIC BAGS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>SOURCE BAGS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER MARKET OUTLETS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>APPLIES MICROBIAL</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>MICROBIAL REASON</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER SEED TYPES</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>OTHER CROPS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>PET ANIMALS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>NO. OF PET/S</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>IS IMMUNIZED</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>HAS MEMBERSHIP</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>ORGANIZATION NAME</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>HAS POSITION</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>POSITION REASON</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>IS ACTIVE</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>YEARS IF EXISTENCE</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>INACTIVE DURATION</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>NUMBER MEMBERS</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		              <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>SERVICES PROVIDED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>SERVICES AVAILED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>TIMES USED</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>PARTICIPATE IN ACTIVITIES</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>TEAM MANAGEMENT</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 row class="pl-2 pr-2">
		      <small>TRUST MANAGEMENT</small>
		        <v-layout row wrap>
		          <v-flex lg22>
		            <v-select
		                :items="storeChoices.null_boolean"
		                :append-icon="null"
		            ></v-select>
		          </v-flex>
		        </v-layout>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>MEETING</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>MEETING FREQUENCY</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>USEFULLNESS</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
		        ></v-text-field>
		      </v-flex>
		      <v-flex lg2 class="pl-2 pr-2">
		      <small>AGRICULTURAL SERVICES</small>
		        <v-text-field
		          name="input-1-3"
		          single-line
		          class="text-margin-negative"
			        ></v-text-field>
			      </v-flex>
		    </v-layout>
		 </section>
  	</v-card-text>
  </v-card>
</template>

<script lang="js">
import FilterMixins from '@/mixins/filters'
export default {
  data () {
    return {
      waste_practices: '',
      waste_practices_data: [],
      workers: '',
      workers_data: [],
      labors: '',
      labors_data: [],
      live_stocks: '',
      live_stocks_data: [],
      marketing: '',
      marketing_data: [],
      market_outlets: '',
      market_outlets_data: [],
      financing_practices: '',
      financing_practices_data: [],
      seed_types: '',
      seed_types_data: []
    }
  },
  methods: {
    remove: function (index, arrayName) {
      return arrayName === 'waste_practices_data' ? this.waste_practices_data.splice(index, 1) : arrayName === 'workers_data' ? this.workers_data.splice(index, 1) : arrayName === 'labors_data' ? this.labors_data.splice(index, 1) : arrayName === 'live_stocks_data' ? this.live_stocks_data.splice(index, 1) : arrayName === 'marketing_data' ? this.marketing_data.splice(index, 1) : arrayName === 'market_outlets_data' ? this.market_outlets_data.splice(index, 1) : arrayName === 'financing_practices_data' ? this.financing_practices_data.splice(index, 1) : this.waste_practices_data.splice(index, 1)
    },
    add: function (name, arrayName) {
      return arrayName === 'waste_practices_data' ? this.waste_practices_data.push({ name: name }) : arrayName === 'workers_data' ? this.workers_data.push({ name: name }) : arrayName === 'labors_data' ? this.labors_data.push({ name: name }) : arrayName === 'live_stocks_data' ? this.live_stocks_data.push({ name: name }) : arrayName === 'marketing_data' ? this.marketing_data.push({ name: name }) : arrayName === 'market_outlets_data' ? this.market_outlets_data.push({ name: name }) : arrayName === 'financing_practices_data' ? this.financing_practices_data.push({ name: name }) : this.waste_practices_data.push({ name: name })
    }
  },
  mixins: [FilterMixins]
}
</script>

<style lang="stylus"></style>