<template lang="html">
  <v-card>
  <v-card-text>
  <section class="family-head">
    <v-layout row wrap>
      <v-flex lg12 style="padding: 8px;">
        <span>
          <strong>
            Family Head
          </strong>
        </span>
      </v-flex>
      <v-flex xs12 sm3 lg12 style="margin-bottom: 20px;">
        <v-avatar>
          <img src="https://pbs.twimg.com/profile_images/833767319973212161/Ft904pMk_400x400.jpg" alt="John">
        </v-avatar>
        <image-cropper></image-cropper>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NAME OF FAMILY HEAD</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Head Name"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>DATE OF BIRTH</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Date of Birth"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>CONTACT NO.</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Contact Number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>MOBILE NO.</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Mobile Number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>TRACKING NO.</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Tracking Number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>SERIES NO.</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Series Number"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>GENDER</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.gender"
              placeholder="Gender"
              :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>CIVIL STATUS</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.civil_status"
              placeholder="Civil Status"
              :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>RELIGION</small>
        <v-layout row wrap>
          <v-flex lg12>
            <v-select class="pt-0"
              :items="storeChoices.religion"
              placeholder="Religion"
              :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>TRIBE</small>
        <v-select class="pt-0"
              :items="tribeChoices"
              placeholder="Tribe"
              :append-icon="null"
            ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg2 row class="pl-2 pr-2">
        <small>HIGHEST ATTAINMENT</small>
        <v-select class="pt-0"
              :items="storeChoices.educational_attainment"
              placeholder="Highes Attainment"
              :append-icon="null"
            ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>ADDRESS</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Address"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NO. OF MALE CHILD</small>
        <v-text-field
          class="pt-0"
          single-line
          placeholder="Number of male child"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>NO. OF FEMALE CHILD</small>
        <v-text-field
          class="pt-0"
          single-line
          placeholder="Number of female child"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
        <small>GOV. AID</small>
        <v-select class="pt-0"
          :append-icon="null"
          placeholder="Government Aid"
          :items="govAidChoices"
        ></v-select>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
        <small>BLOOD TYPE</small>
        <v-select class="text-margin-negative"
          :append-icon="null"
          placeholder="Blood Type"
          :items="storeChoices.blood_type"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm3 lg4 class="pl-2 pr-2">
        <small>MAP POINTS</small>
        <v-text-field
          single-line
          class="pt-0"
          placeholder="Map points"
        ></v-text-field>
      </v-flex>
      <v-flex lg12 style="padding: 8px;">
        <strong>
          Family Spouse
        </strong>
        <v-btn flat icon @click="addSpouse()">
          <v-icon>fa-plus</v-icon>
        </v-btn>
      </v-flex>
      <template >
        <v-layout row wrap v-for="(spouse, index) in spouse" :key="index">
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>SPOUSE NAME</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Spouse Name"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>CONTACT NUMBER</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Contact Number"
          ></v-text-field>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>BLOOD TYPE</small>
          <v-select
            class="text-margin-negative"
            placeholder="Blood Type"
            :append-icon="null"
            :items="storeChoices.blood_type"
          ></v-select>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>BIRTH DATE</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Birth Date"
          ></v-text-field>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>GENDER</small>
          <v-select
            class="text-margin-negative"
            placeholder="Gender"
            :append-icon="null"
            :items="storeChoices.gender"
          ></v-select>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>HIGHEST ATTAINMENT</small>
          <v-select
            class="text-margin-negative"
            placeholder="Blood Type"
            :append-icon="null"
            :items="storeChoices.educational_attainment"
          ></v-select>
        </v-flex>
        </v-layout>
      </template>
      <v-flex lg12 style="padding: 8px;">
        <strong >
          Dependents
        </strong>
        <v-btn flat icon @click="addDependents()">
          <v-icon>fa-plus</v-icon>
        </v-btn>
      </v-flex>
      <v-layout row wrap v-for="(item, index) in dependents" :key="index">
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>NAME</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Dependents Name"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>BIRTH DATE</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Birth Date"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 lg2 class="pl-2 pr-2">
          <small>RELATION</small>
          <v-text-field
            single-line
            class="pt-0"
            placeholder="Relation"
          ></v-text-field>
        </v-flex>
        <v-flex lg2 row class="pl-2 pr-2">
          <small>GENDER</small>
          <v-select
            class="text-margin-negative"
            placeholder="Gender"
            :append-icon="null"
            :items="storeChoices.gender"
          ></v-select>
        </v-flex>
      </v-layout>
    </v-layout>
  </section>
  </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FilterMixins from '@/mixins/filters'
  import ImageCropper from '@/components/ImageCropper.vue'
  export default {
    name: 'personal-info-steppers',
    props: [],
    mounted () {

    },
    data () {
      return {
        id: null,
        isFamilySaving: false,
        isHeadSaving: false,
        isSpouseSaving: false,
        isProfileDisabled: true,
        tribeChoices: [
          {value: 'ip', text: 'IP'},
          {value: 'non-ip', text: 'Non-IP'},
          {value: 'muslim', text: 'Muslim'}
        ],
        govAidChoices: [
          {value: 'htps', text: 'HTPS'},
          {value: 'non-4ps', text: 'Non-4Ps'},
          {value: '4ps', text: '4Ps'}
        ],
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Contact #', align: 'left', sortable: false },
          { text: 'Religion', align: 'left', sortable: false },
          { text: 'Birth Date', align: 'left', sortable: false },
          { text: 'Blood Type', align: 'left', sortable: false },
          { text: 'Highest Educ. Attainment', align: 'left', sortable: false }
        ],
        dependents: [
          {
            name: '',
            birth_date: '',
            relation: '',
            gender: ''
          }
        ],
        spouse: [
          {
            name: '',
            contact_number: '',
            blood_type: '',
            birth_date: '',
            gender: '',
            highest_attainment: ''
          }
        ],
        addDependents: function () {
          this.dependents.push(
            {
              name: '',
              birth_date: '',
              relation: '',
              gender: ''
            }
          )
        },
        addSpouse: function () {
          this.spouse.push(
            {
              name: '',
              contact_number: '',
              blood_type: '',
              birth_date: '',
              gender: '',
              highest_attainment: ''
            }
          )
        }
      }
    },
    mixins: [
      FilterMixins
    ],
    components: {
      ImageCropper
    }
  }
</script>

<style scoped lang="stylus">
</style>
