<template>
  <v-card>
    <v-card-text>
      <section class="psychosocial">
        <v-layout row wrap>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>VIOLENCE (women)</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.null_boolean"
                    placeholder="Violence against women"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>NO. OF VIOLENCE(women)</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="No. of violence"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>VIOLENCE (children)</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.null_boolean"
                    placeholder="Violence against children"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>NO. OF VIOLENCE(children)</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="No. of violence children"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>CONFLICT W/ LAW</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.null_boolean"
                    placeholder="Conflict With Law"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>CONFLICT W/ ARMED</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.null_boolean"
                    placeholder="Conflict With Armed"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>FAMILY PLANNING PRAC.</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.null_boolean"
                    placeholder="Family Planning"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>FAM. PLAN. METHOD</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Farmily Planning Method"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>NATIONAL GOV. HELPING?</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.usefullness"
                    placeholder="National Government Helping"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>PROVINCIAL GOV. HELPING?</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.usefullness"
                    placeholder="Provincial Government Helping"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>MUNICIPAL GOV. HELPING?</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.usefullness"
                    placeholder="Municipal Government Helping"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 row class="pl-2 pr-2">
          <small>BARANGAY GOV. HELPING?</small>
            <v-layout row wrap>
              <v-flex lg12>
                <v-select class="pt-0"
                    :items="storeChoices.usefullness"
                    placeholder="Barangay Government Helping"
                    :append-icon="null"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>NAME OF RESPONDENT</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Name of Respondent"
            ></v-text-field>
          </v-flex>
          <v-flex lg2 class="pl-2 pr-2">
          <small>NAME OF ENUMERATOR</small>
            <v-text-field
              name="input-1-3"
              single-line
              class="text-margin-negative"
              placeholder="Name of Enumerator"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </section>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import FilterMixins from '@/mixins/filters'
  export default {
    computed: {
      psychosocial: function () {
        return this.$store.getters['psychosocial/psychosocial']
      }
    },
    mixins: [
      FilterMixins
    ]
  }
</script>

<style lang="stylus"></style>