<template lang="html">
  <v-card xs12 id="house" class="mt-3">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">HOUSING</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="isHousingInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <housing></housing>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import Housing from './Housing'
  import { EVENT_HOUSING } from '@/constants/events'
  export default {
    name: 'housing-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isHousingDisabled: true
      }
    },
    methods: {
      isHousingInfo: function (state) {
        this.$eventHub.$emit(EVENT_HOUSING, state)
      }
    },
    computed: {

    },
    components: {
      Housing
    }
}
</script>

<style scoped lang="stylus">
</style>
