<template lang="html">

  <section class="housing">
    <v-layout row wrap>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ACCESS TO ROAD</small>
        <v-text-field
          name="input-1-3"
          :value="housing.access_road_distance"
          v-model="housing.access_road_distance"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ARMED CONFLICT</small>
        <v-text-field
          name="input-1-3"
          :value="housing.armed_conflict"
          v-model="housing.armed_conflict"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>DISEASE OUTBREAK</small>
        <v-text-field
          name="input-1-3"
          :value="housing.disease_outbreak"
          v-model="housing.disease_outbreak"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>DIS. FROM GRGY. HALL</small>
        <v-text-field
          name="input-1-3"
          :value="housing.distance_from_brgy_hall"
          v-model="housing.distance_from_brgy_hall"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>EARTHQUAKE FREQUENCY</small>
        <v-text-field
          name="input-1-3"
          :value="housing.earthquake_frequency"
          v-model="housing.earthquake_frequency"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>FLOOD FREQUENCY</small>
        <v-text-field
          name="input-1-3"
          :value="housing.flood_frequency"
          v-model="housing.flood_frequency"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>LANDSLIDE FREQUENCY</small>
        <v-text-field
          name="input-1-3"
          :value="housing.landslide_frequency"
          v-model="housing.landslide_frequency"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>STORM SURGE</small>
        <v-text-field
          name="input-1-3"
          :value="housing.storm_surge"
          v-model="housing.storm_surge"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>TORNADO FREQUENCY</small>
        <v-text-field
          name="input-1-3"
          :value="housing.tornado_frequency"
          v-model="housing.tornado_frequency"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>VEHICULAR ACCEDENT</small>
        <v-text-field
          name="input-1-3"
          :value="housing.vehicular_accident"
          v-model="housing.vehicular_accident"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row row class="pl-2 pr-2">
      <small>OWNERSHIP</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
              v-bind:items="constants.ownership_status"
              v-model="housing.ownership_status"
              :placeholder="housing.ownership_status === true || housing.ownership_status === false ? housing.ownership_status.toString() : housing.ownership_status"
              :disabled="isHousingDisabled"
              :append-icon="null"
            ></v-select> 
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>GPS LATITUDE</small>
        <v-text-field
          name="input-1-3"
          :value="housing.gps_lat"
          v-model="housing.gps_lat"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>GPS LONGITUDE</small>
        <v-text-field
          name="input-1-3"
          :value="housing.gps_lon"
          v-model="housing.gps_lon"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg3 row class="pl-2 pr-2" v-if="housing.roof_material">
      <small>ROOF MATERIAL</small>
        <v-text-field
          name="input-1-3"
          :value="housing.roof_material.name"
          v-model="housing.roof_material.name"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg3 row class="pl-2 pr-2" v-if="housing.walling_material">
      <small>WALLING MATERIAL</small>
        <v-text-field
          name="input-1-3"
          :value="housing.walling_material.name"
          v-model="housing.walling_material.name"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2" v-if="housing.building_type">
      <small>BUILDING TYPE</small>
        <v-text-field
          name="input-1-3"
          :value="housing.building_type.name"
          v-model="housing.building_type.name"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ELECTRICITY OTHERS</small>
        <v-text-field
          name="input-1-3"
          :value="housing.electricity_others"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2" v-if="housing.toilet">
      <small>TOILET</small>
        <v-text-field
          name="input-1-3"
          :value="housing.toilet.name"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2" v-if="housing.garbage_disposal">
      <small>GARBAGE DISPOSAL</small>
        <v-text-field
          name="input-1-3"
          :value="housing.garbage_disposal.name"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>HOME TO FARM</small>
        <v-text-field
          name="input-1-3"
          :value="housing.home_to_farm_distance"
          single-line
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>FARM TO ROAD</small>
        <v-text-field
          name="input-1-3"
          :value="housing.farm_to_road"
          single-line
          v-model="housing.farm_to_road"
          :disabled="isHousingDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg12 row layout>
        <v-flex lg4 class="pl-2 pr-2">
          <span>BUILDING ELECTRICITY</span>
          <template >
              <v-card>
                <v-card-text>
                  <v-text-field
                    v-model="building_electricity"
                    @keyup.enter="add(building_electricity, 'housing.building_electricity')"
                    label="Add Building Electricity"
                    class="margin-top-negative"
                    v-show="isHousingDisabled === false"
                  ></v-text-field>
                  <template v-for="(building_electricity, index) in housing.building_electricity">
                    <v-chip 
                        :key="index" 
                        close
                        @input="remove(index, 'housing.building_electricity')"
                        class="pointer"
                    >
                      {{ building_electricity.name }}
                    </v-chip>
                  </template>
                </v-card-text>
              </v-card>
              </div>
          </template>
        </v-flex>
        <v-flex lg4 class="pl-2 pr-2">
          <span>WATER SOURCE</span>
          <template >
              <v-card>
                <v-card-text>
                  <v-text-field
                    v-model="water_source"
                    @keyup.enter="add(water_source, 'housing.water_source')"
                    label="Add Water Source"
                    class="margin-top-negative"
                    v-show="isHousingDisabled === false"
                  ></v-text-field>
                  <template v-for="(water_source, index) in housing.water_source">
                    <v-chip 
                        :key="index" 
                        close
                        @input="remove(index, 'housing.water_source')"
                        class="pointer"
                    >
                      {{ water_source.name }}
                    </v-chip>
                  </template>
                </v-card-text>
              </v-card>
              </div>
          </template>
        </v-flex>
        <v-flex lg4 class="pl-2 pr-2">
          <span>PRODUCT TRANSPORTATION</span>
          <template >
              <v-card>
                <v-card-text>
                  <v-text-field
                    v-model="product_transportation"
                    @keyup.enter="add(product_transportation, 'product_information_data')"
                    label="Add Product Information"
                    class="margin-top-negative"
                    v-show="isHousingDisabled === false"
                  ></v-text-field>
                  <template v-for="(product_transportation, index) in housing.product_transportations">
                    <v-chip 
                        :key="index" 
                        close
                        @input="remove(index, 'product_information_data')"
                        class="pointer"
                    >
                      {{ product_transportation.name }}
                    </v-chip>
                  </template>
                </v-card-text>
              </v-card>
              </div>
          </template>
        </v-flex>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.isHousingDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchHousing()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editHousingInfo(false)">Cancel</v-btn>
        </v-flex>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_HOUSING } from '@/constants/events'
  export default {
    name: 'housing',
    props: [],
    data () {
      return {
        isHousingDisabled: true,
        isHousingSaving: false,
        building_electricity: '',
        water_source: '',
        product_transportation: '',
        ownership_obj_arr: [
          {
            text: 'Owned'
          },
          {
            text: 'Rented'
          },
          {
            text: 'Mortgaged'
          },
          {
            text: 'Squatter'
          },
          {
            text: 'Informal Settler'
          }
        ],
        drainage_obj_arr: [
          {
            text: 'Open Canal Type'
          },
          {
            text: 'Blind Type'
          },
          {
            text: 'None'
          }
        ]
      }
    },
    methods: {
      editHousingInfo: function (state) {
        this.isHousingDisabled = !state
      },
      patchHousing: function () {
        this.isHealthSaving = true
        this.$store.dispatch('housing/patchHousing', this.housing).then(() => {
          this.isHealthSaving = false
        }).catch(() => {
          this.isHealthSaving = false
        })
      },
      remove: function (index, arrayName) {
        return arrayName === 'housing.building_electricity' ? this.housing.building_electricity.splice(index, 1) : arrayName === 'housing.water_source' ? this.housing.water_source.splice(index, 1) : this.housing.product_transportations.splice(index, 1)
      },
      add: function (name, arrayName) {
        return arrayName === 'housing.building_electricity' ? this.housing.building_electricity.push({ name: name }) : arrayName === 'housing.water_source' ? this.housing.water_source.push({ name: name }) : this.housing.product_transportations.push({ name: name })
      }
    },
    computed: {
      housing: function () {
        return this.$store.getters['housing/housing']
      },
      constants: function () {
        return this.$store.getters['families/constants']
      },
      isSaving: function () {
        return !(!this.isHousingSaving)
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_HOUSING, this.editHousingInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_HOUSING, this.editHousingInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
