<template>
  <section class="content">
    <v-flex lg12>
      <v-layout row wrap>
        <v-flex lg12>
          <map-frame></map-frame>
        </v-flex>

        <v-flex xs12 class="v-padding">
          <family-list></family-list>
        </v-flex>

        <v-flex md12 lg12 class="v-padding">
          <barangay-population></barangay-population>
        </v-flex>

        <v-flex md6 lg4 class="v-padding">
          <family-income></family-income>
        </v-flex>

        <v-flex md6 lg4 class="v-padding">
          <gender-per-educational-level></gender-per-educational-level>
        </v-flex>

        <v-flex md6 lg4 class="v-padding">
          <genders></genders>
        </v-flex>

        <v-flex md4 lg4 class="v-padding">
          <government-aid></government-aid>
        </v-flex>

        <v-flex md4 lg4 class="v-padding">
          <blood-type></blood-type>
        </v-flex>

        <v-flex md4 lg4 class="v-padding">
          <disaster-vulnerability></disaster-vulnerability>
        </v-flex>
      </v-layout>
    </v-flex>
  </section>
</template>

<script>
  import BarangayPopulation from '@/components/statistics/BarangayPopulation'
  import BloodType from '@/components/statistics/BloodType'
  import DisasterVulnerability from '@/components/statistics/DisasterVulnerability'
  import FamilyIncome from '@/components/statistics/FamilyIncome'
  import FamilyList from '@/components/families/FamilyList'
  import Genders from '@/components/statistics/Genders'
  import GenderPerEducationalLevel from '@/components/statistics/GenderPerEducationalLevel'
  import GovernmentAid from '@/components/statistics/GovernmentAid'
  import MapFrame from '@/components/maps/MapFrame'
  import StatisticsList from '@/components/statistics/StatisticsList'

  export default {
    components: {
      BarangayPopulation,
      BloodType,
      DisasterVulnerability,
      FamilyIncome,
      FamilyList,
      Genders,
      GenderPerEducationalLevel,
      GovernmentAid,
      MapFrame,
      StatisticsList
    }
  }
</script>
