<template>
  <v-layout row wrap class="profile">
    <v-flex xs12>
      <profile-header></profile-header>
    </v-flex>

    <v-flex xs12>
      <personal-information></personal-information>
    </v-flex>

    <v-flex xs12>
      <education-template></education-template>
    </v-flex>

    <!-- no update function downwards due to prioritizing visual first -->
    <v-flex xs12>
      <health-template></health-template>
    </v-flex>

    <v-flex xs12>
      <live-stock-template></live-stock-template>
    </v-flex>

    <v-flex xs12>
      <housing-template></housing-template>
    </v-flex>

    <v-flex xs12>
      <family-income-template></family-income-template>
    </v-flex>

    <v-flex xs12>
      <expenditures-template></expenditures-template>
    </v-flex>

    <v-flex xs12>
      <psychosocial-template></psychosocial-template>
    </v-flex>
  </v-layout>
</template>

<script lang="js">
  import EducationTemplate from '@/components/profile/education/EducationTemplate'
  import ExpendituresTemplate from '@/components/profile/expenditures/ExpendituresTemplate'
  import FamilyIncomeTemplate from '@/components/profile/family_income/FamilyIncomeTemplate'
  import HealthTemplate from '@/components/profile/health/HealthTemplate'
  import HousingTemplate from '@/components/profile/housing/HousingTemplate'
  import LiveStockTemplate from '@/components/profile/livestock/LiveStockTemplate'
  import PersonalInformation from '@/components/profile/personal_information/PersonalInformation'
  import PsychosocialTemplate from '@/components/profile/psychosocial/PsychosocialTemplate'
  import ProfileHeader from '@/components/profile/ProfileHeader'

  export default {
    props: {
      familyId: {
        type: [String, Number],
        required: true
      }
    },
    methods: {
      fetchFamily: function () {
        this.isFetching = true
        this.$store.dispatch('families/fetchFamily', this.familyId).then((data) => {
          this.$store.commit('families/setFamily', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchEducation: function () {
        this.isFetching = true
        this.$store.dispatch('education/fetchEducation', this.familyId).then((data) => {
          this.$store.commit('education/setEducation', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchExpenditures: function () {
        this.isFetching = true
        this.$store.dispatch('expenditures/fetchExpenditures', this.familyId).then((data) => {
          this.$store.commit('expenditures/setExpenditures', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyAssets: function () {
        this.isFetching = true
        this.$store.dispatch('families/fetchFamilyAssets', this.familyId).then((data) => {
          this.$store.commit('families/setFamilyAssets', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyFarms: function () {
        this.isFetching = true
        this.$store.dispatch('livestock/fetchFamilyFarms', this.familyId).then((data) => {
          this.$store.commit('livestock/setFamilyFarms', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyLivestock: function () {
        this.isFetching = true
        this.$store.dispatch('livestock/fetchFamilyLivestock', this.familyId).then((data) => {
          this.$store.commit('livestock/setFamilyLivestock', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyCrops: function () {
        this.isFetching = true
        this.$store.dispatch('livestock/fetchFamilyCrops', this.familyId).then((data) => {
          this.$store.commit('livestock/setFamilyCrops', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyIncome: function () {
        this.isFetching = true
        this.$store.dispatch('families/fetchFamilyIncome', this.familyId).then((data) => {
          this.$store.commit('families/setFamilyIncome', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFamilyPetAndPoultries: function () {
        this.isFetching = true
        this.$store.dispatch('livestock/fetchFamilyPetAndPoultries', this.familyId).then((data) => {
          this.$store.commit('livestock/setFamilyPetAndPoultries', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchFarmerOrganizations: function () {
        this.isFetching = true
        this.$store.dispatch('livestock/fetchFarmerOrganizations', this.familyId).then((data) => {
          this.$store.commit('livestock/setFarmerOrganizations', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchHealth: function () {
        this.isFetching = true
        this.$store.dispatch('health/fetchHealth', this.familyId).then((data) => {
          this.$store.commit('health/setHealth', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchHousing: function () {
        this.isFetching = true
        this.$store.dispatch('housing/fetchHousing', this.familyId).then((data) => {
          this.$store.commit('housing/setHousing', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchPsychosocial: function () {
        this.isFetching = true
        this.$store.dispatch('psychosocial/fetchPsychosocial', this.familyId).then((data) => {
          this.$store.commit('psychosocial/setPsychosocial', data)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      },
      fetchAllLivestockRelated: function () {
        this.fetchFamilyAssets()
        this.fetchFamilyCrops()
        this.fetchFamilyFarms()
        this.fetchFamilyIncome()
        this.fetchFarmerOrganizations()
        this.fetchFamilyLivestock()
        this.fetchFamilyPetAndPoultries()
      }
    },
    components: {
      EducationTemplate,
      ExpendituresTemplate,
      FamilyIncomeTemplate,
      HealthTemplate,
      HousingTemplate,
      LiveStockTemplate,
      PersonalInformation,
      PsychosocialTemplate,
      ProfileHeader
    },
    created () {
      this.fetchAllLivestockRelated()
      this.fetchFamily()
      this.fetchEducation()
      this.fetchExpenditures()
      this.fetchHealth()
      this.fetchHousing()
      this.fetchPsychosocial()
    }
}
</script>

<style scoped lang="stylus">
</style>
