<template lang="html">
  <v-dialog v-model="dialog" persistent max-width="500px" style="float:left;">
    <v-btn
      color="blue darken-4"
      dark
      slot="activator"
    >
      Edit Profile Photo
    </v-btn>
    <v-card>
      <v-snackbar
        :absolute="true"
        :timeout="2000"
        :top="true"
        color="error"
        v-model="showSnackbar"
      >
        Please select an image.
        <v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
      </v-snackbar>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <croppa v-model="profileImage" :height="460" :width='460'></croppa>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
        <v-btn
          :loading="isLoading"
          @click.native="uploadImage"
          color="blue darken-1"
          flat
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { Http } from '@/http'

  export default {
    props: {
      uploadUrl: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        dialog: false,
        isLoading: false,
        profileImage: {},
        showSnackbar: false
      }
    },
    methods: {
      uploadImage: function () {
        const dataUrl = this.profileImage.generateDataUrl()
        if (!dataUrl) {
          this.showSnackbar = true
          return
        }
        this.isLoading = true
        Http.post(this.uploadUrl, {
          data_url: dataUrl,
          file_name: this.profileImage.getChosenFile().name
        }).then(response => {
          const imageUrl = `${process.env.API_URL}${response.data.image}`
          this.dialog = false
          this.isLoading = false
          this.$store.commit('families/setFamilyHeadImage', imageUrl)
        }).catch(() => {
          this.isLoading = false
        })
      }
    }
}
</script>

<style scoped lang="stylus">
</style>
