<template lang="html">
  <section class="barangay">
    <v-card>
      <v-card-title>
        <strong>Residents per Barangay</strong>
      </v-card-title>
      <v-divider></v-divider>
       <line-chart
        :chart-data="chartData"
        :options="chartOptions"
        :height="80"
        >
       </line-chart>
    </v-card>
  </section>
</template>

<script>
  import { UPDATE_SEARCH_QUERY } from '@/constants/events'

  import ChartMixin from '@/mixins/charts'
  import LineChart from '@/components/charts/LineChart'

  export default {
    data () {
      return {
        chartOptions: {
          responsive: true,
          maintainAspectRatio: true,
          layout: {
            padding: {
              left: 0,
              right: 10,
              top: 0,
              bottom: 0
            }
          },
          scales: {
            xAxes: [{
              ticks: {
                autoSkip: false,
                maxRotation: 90,
                minRotation: 90
              }
            }]
          }
        },
        isFetching: false
      }
    },
    computed: {
      barangayPopulation: function () {
        // Returns the `results` part of the API response
        return this.$store.getters['statistics/barangayPopulation']
      },
      chartData: function () {
        // Transforms API data into the chart data format
        return {
          labels: this.getValuesByKey(this.barangayPopulation, 'name'),
          datasets: [{
            label: 'Number of Families',
            data: this.getValuesByKey(this.barangayPopulation, 'count'),
            backgroundColor: 'rgba(54, 162, 235, 0.2)'
          }]
        }
      }
    },
    methods: {
      fetchBarangayPopulation: function () {
        this.isFetching = true
        this.$store.dispatch('statistics/fetchBarangayPopulation', this.storeFilters).then((data) => {
          this.$store.commit('statistics/setBarangayPopulation', data.results)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    components: {
      LineChart
    },
    mixins: [
      ChartMixin
    ],
    created: function () {
      this.fetchBarangayPopulation()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchBarangayPopulation)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchBarangayPopulation)
    }
  }
</script>
