<template lang="html">
  <v-card>
    <v-card-title>
      <strong>Blood Type By Head Of The Family</strong>
    </v-card-title>
    <v-divider></v-divider>
    <bar-chart
      :chart-data="chartData"
      :height="250"
    >
    </bar-chart>
  </v-card>
</template>

<script lang="js">
  import { UPDATE_SEARCH_QUERY } from '@/constants/events'

  import ChartMixin from '@/mixins/charts'
  import BarChart from '@/components/charts/BarChart'

  export default {
    name: 'blood-type',
    props: [],
    mounted () {

    },
    data () {
      return {
        isFetching: false
      }
    },
    methods: {
      fetchBloodType: function () {
        this.isFetching = true
        this.$store.dispatch('statistics/fetchBloodType', this.storeFilters).then((data) => {
          this.$store.commit('statistics/setBloodType', data.results)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    computed: {
      bloodTypeData: function () {
        // Returns the `results` part of the API response
        return this.$store.getters['statistics/bloodType']
      },
      chartData: function () {
        return {
          labels: this.getValuesByKey(this.bloodTypeData, 'name'),
          datasets: [
            {
              label: 'Head',
              data: this.getValuesByKey(this.bloodTypeData, 'head'),
              backgroundColor: 'rgba(54, 162, 235, 0.5)',
              borderColor: 'rgba(54, 162, 235, 0.8)',
              borderWidth: 1
            },
            {
              label: 'Spouse',
              data: this.getValuesByKey(this.bloodTypeData, 'spouse'),
              backgroundColor: 'rgba(255, 99, 132, 0.5)',
              borderColor: 'rgba(255, 99, 132, 0.8)',
              borderWidth: 1
            }
          ]
        }
      }
    },
    components: {
      BarChart
    },
    mixins: [
      ChartMixin
    ],
    created: function () {
      this.fetchBloodType()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchBloodType)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchBloodType)
    }
}
</script>

<style scoped lang="stylus">
</style>
