<template>
  <v-card>
    <v-card-title>
      <strong>Family Income By Head Of The Famiy</strong>
    </v-card-title>
    <v-divider></v-divider>
    <bar-chart
      :chart-data="chartData"
      :height="250"
      >
    </bar-chart>
  </v-card>
</template>

<script>
  import { UPDATE_SEARCH_QUERY } from '@/constants/events'

  import ChartMixin from '@/mixins/charts'
  import BarChart from '@/components/charts/BarChart'

  export default {
    data () {
      return {
        isFetching: false
      }
    },
    computed: {
      familyIncomes: function () {
        // Returns the `results` part of the API response
        return this.$store.getters['statistics/familyIncomes']
      },
      chartData: function () {
        // Transforms API data into the chart data format
        return {
          labels: this.getValuesByKey(this.familyIncomes, 'name'),
          datasets: [{
            label: 'Number of Families',
            data: this.getValuesByKey(this.familyIncomes, 'count'),
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        }
      }
    },
    methods: {
      fetchFamilyIncomes: function () {
        this.isFetching = true
        this.$store.dispatch('statistics/fetchFamilyIncomes', this.storeFilters).then((data) => {
          this.$store.commit('statistics/setFamilyIncomes', data.results)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    components: {
      BarChart
    },
    mixins: [
      ChartMixin
    ],
    created: function () {
      this.fetchFamilyIncomes()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchFamilyIncomes)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchFamilyIncomes)
    }
  }
</script>
