<template lang="html">
  <v-card>
    <v-card-title>
      <strong>Highest Educational Attainment By Head Of The family</strong>
    </v-card-title>
    <v-divider></v-divider>
    <bar-chart
      :chart-data="chartData"
      :height="250"
    >
    </bar-chart>
  </v-card>
</template>

<script lang="js">
  import { UPDATE_SEARCH_QUERY } from '@/constants/events'

  import ChartMixin from '@/mixins/charts'
  import BarChart from '../charts/BarChart'

  export default {
    name: 'gender-per-educational-level',
    data () {
      return {
        isFetching: false
      }
    },
    methods: {
      fetchGenderPerEducationalLevel: function () {
        this.isFetching = true
        this.$store.dispatch('statistics/fetchGenderPerEducationalLevel', this.storeFilters).then((data) => {
          this.$store.commit('statistics/setGenderPerEducationalLevel', data.results)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    computed: {
      genderPerEducationalLevel: function () {
        // Returns the `results` part of the API response
        return this.$store.getters['statistics/genderPerEducationalLevel']
      },
      chartLabels: function () {
        return this.capitalizeLabels(this.getValuesByKey(this.genderPerEducationalLevel, 'name'))
      },
      chartData: function () {
        return {
          labels: this.chartLabels,
          datasets: [
            {
              label: 'Male',
              data: this.getValuesByKey(this.genderPerEducationalLevel, 'male'),
              backgroundColor: 'rgba(54, 162, 235, 0.5)',
              borderColor: 'rgba(54, 162, 235, 0.8)',
              borderWidth: 1
            },
            {
              label: 'Female',
              data: this.getValuesByKey(this.genderPerEducationalLevel, 'female'),
              backgroundColor: 'rgba(255, 99, 132, 0.5)',
              borderColor: 'rgba(255, 99, 132, 0.8)',
              borderWidth: 1
            }
          ]
        }
      }
    },
    components: {
      BarChart
    },
    mixins: [
      ChartMixin
    ],
    created: function () {
      this.fetchGenderPerEducationalLevel()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchGenderPerEducationalLevel)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchGenderPerEducationalLevel)
    }
}
</script>

<style scoped lang="stylus">
</style>
