<template>
	<v-card>
    <v-card-title>
      <strong>Gender By Head Of The Family</strong>
    </v-card-title>
    <v-divider></v-divider>
    <pie-chart
      :chart-data="chartData"
      :height="250"
    >
    </pie-chart>
  </v-card>
</template>

<script lang="js">
import { UPDATE_SEARCH_QUERY } from '@/constants/events'

import ChartMixin from '@/mixins/charts'
import PieChart from '@/components/charts/PieChart'

export default {
  data () {
    return {
      isFetching: false
    }
  },
  methods: {
    fetchGender: function () {
      this.isFetching = true
      this.$store.dispatch('statistics/fetchGender', this.storeFilters).then((data) => {
        this.$store.commit('statistics/setGender', data.results)
        this.isFetching = false
      }).catch(() => {
        this.isFetching = false
      })
    }
  },
  computed: {
    gender: function () {
      // Returns the `results` part of the API response
      return this.$store.getters['statistics/gender']
    },
    chartLabels: function () {
      return this.capitalizeLabels(this.getValuesByKey(this.gender, 'name'))
    },
    chartData: function () {
      // Transforms API data into the chart data format
      return {
        labels: this.chartLabels,
        datasets: [{
          label: 'disaster-vulnerability',
          data: this.getValuesByKey(this.gender, 'count'),
          backgroundColor: [
            '#FF6384',
            '#36A2EB',
            '#FF6342'
          ]
        }]
      }
    }
  },
  components: {
    PieChart
  },
  mixins: [
    ChartMixin
  ],
  created: function () {
    this.fetchGender()
    this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchGender)
  },
  beforeDestroy: function () {
    this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchGender)
  }
}
</script>

<style lang="stylus">
</style>