<template lang="html">
  <v-card>
    <v-card-title>
      <strong>Government Aid Received By Head Of The Family</strong>
    </v-card-title>
    <v-divider></v-divider>
    <polar-chart
      :chart-data="chartData"
      :height="250"
    >
    </polar-chart>
  </v-card>
</template>

<script lang="js">
  import { UPDATE_SEARCH_QUERY } from '@/constants/events'

  import ChartMixin from '@/mixins/charts'
  import PolarChart from '@/components/charts/PolarChart'

  export default {
    data () {
      return {
        isFetching: false
      }
    },
    methods: {
      fetchGovernmentAid: function () {
        this.isFetching = true
        this.$store.dispatch('statistics/fetchGovernmentAid', this.storeFilters).then((data) => {
          this.$store.commit('statistics/setGovernmentAid', data.results)
          this.isFetching = false
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    computed: {
      governmentAid: function () {
        // Returns the `results` part of the API response
        return this.$store.getters['statistics/governmentAid']
      },
      chartLabels: function () {
        const labels = {
          '4ps': '4Ps',
          'nhts': 'NHTS',
          'non-4ps': 'Non-4Ps'
        }
        return this.getValuesByKey(this.governmentAid, 'name').map(value => {
          return labels[value] || 'None'
        })
      },
      chartData: function () {
        // Transforms API data into the chart data format
        return {
          labels: this.chartLabels,
          datasets: [{
            label: 'Number of Families',
            data: this.getValuesByKey(this.governmentAid, 'count'),
            backgroundColor: [
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(75, 255, 192, 0.8)',
              'rgba(100, 120, 192, 0.8)'
            ]
          }]
        }
      }
    },
    components: {
      PolarChart
    },
    mixins: [
      ChartMixin
    ],
    created: function () {
      this.fetchGovernmentAid()
      this.$eventHub.$on(UPDATE_SEARCH_QUERY, this.fetchGovernmentAid)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(UPDATE_SEARCH_QUERY, this.fetchGovernmentAid)
    }
}
</script>

<style scoped lang="stylus">
</style>
