<template>
  <v-layout row wrap >
    <v-flex lg2 class="v-padding" v-for="(item, index) in statistics" :key="index">
      <v-card>
        <v-card-title>
          <v-avatar>
            <v-icon x-large>{{ item.icon }}</v-icon>
          </v-avatar>
          <div style="margin-left: 20px;">
            <span class="headline">{{ item.number }}</span><br>
            <small>{{ item.name }}</small>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        statistics: [
          {
            icon: 'fa-bar-chart',
            name: 'MUNICIPALITIES',
            number: '5'
          },
          {
            icon: 'fa-bar-chart',
            name: 'TOTAL POPULATION',
            number: '316342'
          },
          {
            icon: 'fa-bar-chart',
            name: 'TRIBES',
            number: '4'
          },
          {
            icon: 'fa-bar-chart',
            name: 'NO. OF HOUSEHOLDS',
            number: '77412'
          },
          {
            icon: 'fa-bar-chart',
            name: 'TOTAL HECTARES',
            number: '205901'
          },
          {
            icon: 'fa-bar-chart',
            name: 'BARANGAYS',
            number: '105'
          }
        ]
      }
    }
  }
</script>
