<template lang="html">

  <section class="expenditures">
    <v-layout row wrap>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FOOD</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.food"
          v-model="expenditures.food"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>EDUCATION</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.education"
          v-model="expenditures.education"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MEDICINE</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.medicine"
          v-model="expenditures.medicine"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>POWER BILL</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.power_bill"
          v-model="expenditures.power_bill"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>WATER BILL</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.water_bill"
          v-model="expenditures.water_bill"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PHILHEALTH</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.philhealth"
          v-model="expenditures.philhealth"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PAG IBIG</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.pag_ibig"
          v-model="expenditures.pag_ibig"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>GSIS</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.gsis"
          v-model="expenditures.gsis"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CLOTHING</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.clothing"
          v-model="expenditures.clothing"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>INSURANCE</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.insurance"
          v-model="expenditures.insurance"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>VEHICLE</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.vehicle"
          v-model="expenditures.vehicle"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TAXES</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.taxes"
          v-model="expenditures.taxes"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>DEBT REPAYMENTS</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.debt_repayments"
          v-model="expenditures.debt_repayments"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>HOUSE RENTAL</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.house_rental"
          v-model="expenditures.house_rental"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>HOUSE HELPER</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.house_helper"
          v-model="expenditures.house_helper"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SERVICES</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.vices"
          v-model="expenditures.vices"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHERS</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.others"
          v-model="expenditures.others"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTH. EXPENDITURES</small>
        <v-text-field
          name="input-1-3"
          :value="expenditures.other_expenditures"
          v-model="expenditures.other_expenditures"
          single-line
          class="text-margin-negative"
          :disabled="isExpendituresDisabled"
        ></v-text-field>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg22 class="text-lg-right" v-if="this.isExpendituresDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchExpenditures()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editExpendituresInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_EXPENDITURES } from '@/constants/events'

  export default {
    name: 'expenditures',
    props: [],
    data () {
      return {
        isExpendituresDisabled: true,
        isExpendituresSaving: false
      }
    },
    methods: {
      editExpendituresInfo: function (state) {
        this.isExpendituresDisabled = !state
      },
      patchExpenditures: function () {
        this.isExpendituresSaving = true
        this.$store.dispatch('expenditures/patchExpenditures', this.expenditures).then(() => {
          this.isExpendituresSaving = false
        }).catch(() => {
          this.isExpendituresSaving = false
        })
      }
    },
    computed: {
      expenditures: function () {
        return this.$store.getters['expenditures/expenditures']
      },
      isSaving: function () {
        return !(!this.isExpendituresSaving)
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_EXPENDITURES, this.editExpendituresInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_EXPENDITURES, this.editExpendituresInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
