<template lang="html">
  <v-card  id="expenditures" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">EXPENDITURES</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="isExpendituresInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <expenditures></expenditures>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import Expenditures from './Expenditures'
  import { EVENT_EXPENDITURES } from '@/constants/events'
  export default {
    name: 'expenditures-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isExpendituresDisabled: true
      }
    },
    methods: {
      isExpendituresInfo: function (state) {
        this.$eventHub.$emit(EVENT_EXPENDITURES, state)
      }
    },
    computed: {

    },
    components: {
      Expenditures
    }
}
</script>

<style scoped lang="stylus">
</style>
