<template lang="html">

  <section class="live-stock">
    <v-layout row wrap>
      <v-flex lg6 class="pl-2 pr-2">
        <span>WASTE PRACTICES</span>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="waste_practices"
                  @keyup.enter="add(waste_practices, 'familyFarms.waste_practices')"
                  label="Waste Practices"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(waste_practices, index) in familyFarms.waste_practices">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyFarms.waste_practices')"
                      class="pointer"
                  >
                    {{ waste_practices.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>WORKERS</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="workers"
                  @keyup.enter="add(workers, 'familyFarms.workers')"
                  label="Workers"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(workers, index) in familyFarms.workers">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyFarms.workers')"
                      class="pointer"
                  >
                    {{ workers.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>LABORS</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="labors"
                  @keyup.enter="add(labors, 'familyFarms.labors')"
                  label="Labors"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(labors, index) in familyFarms.labors">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyFarms.labors')"
                      class="pointer"
                  >
                    {{ labors.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>LIVESTOCK</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="live_stocks"
                  @keyup.enter="add(live_stocks, 'familyLivestock.live_stocks')"
                  label="Livestocks"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(live_stocks, index) in familyLivestock.live_stocks">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyLivestock.live_stocks')"
                      class="pointer"
                  >
                    {{ live_stocks.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>MARKETING</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="marketing"
                  @keyup.enter="add(marketing, 'familyCrops.marketing')"
                  label="Marketing"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(marketing, index) in familyCrops.marketing">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyCrops.marketing')"
                      class="pointer"
                  >
                    {{ marketing.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>MARKETING OUTLET</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="market_outlets"
                  @keyup.enter="add(market_outlets, 'familyCrops.market_outlets')"
                  label="Marketing Outlets"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(market_outlets, index) in familyCrops.market_outlets">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyCrops.market_outlets')"
                      class="pointer"
                  >
                    {{ market_outlets.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>FINANCING PRACTICES</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="financing_practices"
                  @keyup.enter="add(financing_practices, 'familyCrops.financing_practices')"
                  label="Marketing Outlets"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(financing_practices, index) in familyCrops.financing_practices">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyCrops.financing_practices')"
                      class="pointer"
                  >
                    {{ financing_practices.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="pl-2 pr-2">
        <small>FINANCING PRACTICES</small>
        <template >
            <v-card>
              <v-card-text>
                <v-text-field
                  v-model="seed_types"
                  @keyup.enter="add(seed_types, 'familyCrops.seed_types')"
                  label="Financing Practices"
                  class="margin-top-negative"
                ></v-text-field>
                <template v-for="(seed_types, index) in familyCrops.seed_types">
                  <v-chip 
                      :key="index" 
                      close
                      @input="remove(index, 'familyCrops.seed_types')"
                      class="pointer"
                  >
                    {{ seed_types.name }}
                  </v-chip>
                </template>
              </v-card-text>
            </v-card>
            </div>
        </template>
      </v-flex>
      <v-flex lg6 class="v-padding">
      <small>CROP</small>
        <v-card>
          <template v-for="x in [this.familyCrops.crops]">
            <v-flex lg22>
              <v-data-table 
                :headers="cropHeaders"
                :items="x"
                hide-actions
                item-key="name"
              >
                <template slot="items" slot-scope="props">
                  <tr @click="props.expanded = !props.expanded">
                    <td>{{ props.item.hills }}</td>
                    <td class="text-xs-right">{{ props.item.hectares }}</td>
                    <td class="text-xs-right">{{ props.item.kilos_per_cropping }}</td>
                    <td class="text-xs-right">{{ props.item.income_per_cropping }}</td>
                    <td class="text-xs-right">{{ props.item.production_costs_per_cropping }}</td>
                  </tr>
                </template>
                <template slot="expand" slot-scope="props">
                  <v-card flat style="padding-top:20px; padding-right:5px; padding-left: 5px;">
                    <v-flex lg12 row layout>
                      <v-flex lg3 class="pl-2 pr-2">
                        <v-text-field
                          name="input-1-3"
                          label="Hectares"
                          class="text-margin-negative"
                        ></v-text-field>
                      </v-flex>
                      <v-flex lg3 class="pl-2 pr-2">
                        <v-text-field
                          name="input-1-3"
                          label="Kilos Per Cropping"
                          class="text-margin-negative"
                        ></v-text-field>
                      </v-flex>
                      <v-flex lg3 class="pl-2 pr-2">
                        <v-text-field
                          name="input-1-3"
                          label="Income Per Cropping"
                          class="text-margin-negative"
                        ></v-text-field>
                      </v-flex>
                      <v-flex lg3 class="pl-2 pr-2">
                        <v-text-field
                          name="input-1-3"
                          label="Production Cost"
                          class="text-margin-negative"
                        ></v-text-field>
                      </v-flex>
                    </v-flex>
                  </v-card>
                </template>
              </v-data-table>
            </v-flex>
          </template>
        </v-card>
      </v-flex>
      <v-flex lg6 class="v-padding">
      <small>POULTRIES</small>
        <v-card>
          <template v-for="x in [this.familyPetAndPoultries.poultries]">
          <v-data-table
            :headers="poultryHeaders"
            :items="x"
            hide-actions
            item-key="name"
          >
            <template slot="items" slot-scope="props">
              <tr @click="props.expanded = !props.expanded">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.financing }}</td>
                <td class="text-xs-right">{{ props.item.heads }}</td>
                <td class="text-xs-right">{{ props.item.balut_production }}</td>
                <td class="text-xs-right">{{ props.item.production_costs_per_cropping }}</td>
              </tr>
            </template>
            <template slot="expand" slot-scope="props">
              <v-card flat style="padding-top:20px; padding-right:5px; padding-left: 5px;">
                <v-flex lg12 row layout>
                  <v-flex lg3 class="pl-2 pr-2">
                    <v-text-field
                      name="input-1-3"
                      label="Name"
                      class="text-margin-negative"
                    ></v-text-field>
                  </v-flex>
                  <v-flex lg3 class="pl-2 pr-2">
                    <v-text-field
                      name="input-1-3"
                      label="Financing"
                      class="text-margin-negative"
                    ></v-text-field>
                  </v-flex>
                  <v-flex lg3 class="pl-2 pr-2">
                    <v-text-field
                      name="input-1-3"
                      label="Heads"
                      class="text-margin-negative"
                    ></v-text-field>
                  </v-flex>
                  <v-flex lg3 class="pl-2 pr-2">
                    <v-text-field
                      name="input-1-3"
                      label="Balut Production"
                      class="text-margin-negative"
                    ></v-text-field>
                  </v-flex>
                </v-flex>
              </v-card>
            </template>
          </v-data-table>
          </template>
        </v-card>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TENURIAL INSTRUMENT</small>
        <v-text-field
          name="input-1-3"
          v-if="familyFarms.tenurial_instrument"
          :value="familyFarms.tenurial_instrument.name"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FARMING PRAC.</small>
        <v-text-field
          name="input-1-3"
          v-if="familyFarms.tenurial_instrument"
          :value="familyFarms.farming_practice.name"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TOTAL AREA</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.total_area"
          v-model="familyFarms.total_area"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER AREAS</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.other_areas"
          v-model="familyFarms.other_areas"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OWNED</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.owned"
          v-model="familyFarms.owned"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>RENTED</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.rented"
          v-model="familyFarms.rented"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TENANT</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.tenant"
          v-model="familyFarms.tenant"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MORTAGED</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.mortaged"
          v-model="familyFarms.mortaged"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MORTAGED REQUIRED</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.martgaged_acquired"
          v-model="familyFarms.martgaged_acquired"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TOT. LAND AREA</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.total_land_area"
          v-model="familyFarms.total_land_area"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TOT. LAND AREA OTHERS</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.total_land_area_others"
          v-model="familyFarms.total_land_area_others"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FARMING PRAC.</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.farming_practice_others"
          v-model="familyFarms.farming_practice_others"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER WORKERS</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.other_workers"
          v-model="familyFarms.other_workers"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER WASTE PRAC.</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.other_waste_practices"
          v-model="familyFarms.other_waste_practices"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PAKYAW / LABOR</small>
        <v-text-field
          name="input-1-3"
          :value="familyFarms.pakyaw_or_labor"
          v-model="familyFarms.pakyaw_or_labor"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SALE INCOME</small>
        <v-text-field
          name="input-1-3"
          :value="familyLivestock.sale_income"
          v-model="familyLivestock.sale_income"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SALE NUMBER</small>
        <v-text-field
          name="input-1-3"
          :value="familyLivestock.sale_number"
          v-model="familyLivestock.sale_number"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER INCOME</small>
        <v-text-field
          name="input-1-3"
          :value="familyLivestock.other_income"
          v-model="familyLivestock.other_income"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CROP TYPE</small>
        <v-text-field
          v-if="familyCrops.crop_type"
          name="input-1-3"
          :value="familyCrops.crop_type.name"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>FARM TYPE</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.farm_type"
          v-model="familyCrops.farm_type"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>IRRIGATED VALUE</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.irrigated_value"
          v-model="familyCrops.irrigated_value"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>INORGANIC BAGS</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.inorganic_bags"
          v-model="familyCrops.inorganic_bags"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>ORGANIC BAGS</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.organic_bags"
          v-model="familyCrops.organic_bags"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SOURCE BAGS</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.source_bags"
          v-model="familyCrops.source_bags"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER MARKET OUTLETS</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.other_market_outlets"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>APPLIES MICROBIAL</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.applies_microbial"
          v-model="familyCrops.applies_microbial"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MICROBIAL REASON</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.microbial_reason"
          v-model="familyCrops.microbial_reason"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER SEED TYPES</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.other_seed_types"
          v-model="familyCrops.other_seed_types"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>OTHER CROPS</small>
        <v-text-field
          name="input-1-3"
          :value="familyCrops.other_crops"
          v-model="familyCrops.other_crops"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>PET ANIMALS</small>
        <v-text-field
          name="input-1-3"
          :value="familyPetAndPoultries.pet_animals"
          v-model="familyPetAndPoultries.pet_animals"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>NO. OF PET/S</small>
        <v-text-field
          name="input-1-3"
          :value="familyPetAndPoultries.no_of_pet_animals"
          v-model="familyPetAndPoultries.no_of_pet_animals"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>

      <v-flex lg2 row class="pl-2 pr-2">
      <small>IS IMMUNIZED</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="familyPetAndPoultries.is_immunized"
                :placeholder="familyPetAndPoultries.is_immunized === true || familyPetAndPoultries.is_immunized === false ? familyPetAndPoultries.is_immunized.toString() : familyPetAndPoultries.is_immunized"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>HAS MEMBERSHIP</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.has_membership"
                :placeholder="farmerOrganizations.has_membership === true || farmerOrganizations.has_membership === false ? farmerOrganizations.has_membership.toString() : 
                  farmerOrganizations.has_membership"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>ORGANIZATION NAME</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.name"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>HAS POSITION</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.has_position"
                :placeholder="farmerOrganizations.has_position === true || farmerOrganizations.has_position === false ? farmerOrganizations.has_position.toString() : 
                  farmerOrganizations.has_position"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>POSITION REASON</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.position_reason"
          v-model="farmerOrganizations.position_reason"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>IS ACTIVE</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.is_active"
                :placeholder="farmerOrganizations.is_active === true || farmerOrganizations.is_active === false ? farmerOrganizations.is_active.toString() : 
                  farmerOrganizations.is_active"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>YEARS IF EXISTENCE</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.is_active"
                :placeholder="farmerOrganizations.years_of_existence === true || farmerOrganizations.years_of_existence === false ? farmerOrganizations.years_of_existence.toString() : 
                  farmerOrganizations.years_of_existence"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>INACTIVE DURATION</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.inactive_duration"
                :placeholder="farmerOrganizations.inactive_duration === true || farmerOrganizations.inactive_duration === false ? farmerOrganizations.inactive_duration.toString() : 
                  farmerOrganizations.inactive_duration"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>NUMBER MEMBERS</small>
        <v-layout row wrap>
          <v-flex lg22>
              <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.num_of_members"
                :placeholder="farmerOrganizations.num_of_members === true || farmerOrganizations.num_of_members === false ? farmerOrganizations.num_of_members.toString() : 
                  farmerOrganizations.num_of_members"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SERVICES PROVIDED</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.services_provided"
          v-model="farmerOrganizations.services_provided"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>SERVICES AVAILED</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.services_availed"
          v-model="farmerOrganizations.services_availed"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>TIMES USED</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.times_used"
          v-model="farmerOrganizations.times_used"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>PARTICIPATE IN ACTIVITIES</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.participates_in_activities"
                :placeholder="farmerOrganizations.participates_in_activities === true || farmerOrganizations.participates_in_activities === false ? farmerOrganizations.participates_in_activities.toString() : farmerOrganizations.participates_in_activities"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>TEAM MANAGEMENT</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.knows_management_team"
                :placeholder="farmerOrganizations.knows_management_team === true || farmerOrganizations.knows_management_team === false ? farmerOrganizations.knows_management_team.toString() : farmerOrganizations.knows_management_team"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>TRUST MANAGEMENT</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select
                :items="constants.null_boolean"
                v-model="farmerOrganizations.trusts_management"
                :placeholder="farmerOrganizations.trusts_management === true || farmerOrganizations.trusts_management === false ? farmerOrganizations.trusts_management.toString() : farmerOrganizations.trusts_management"
                :disabled="isLiveStockDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MEETING</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.meeting"
          v-model="farmerOrganizations.meeting"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>MEETING FREQUENCY</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.meeting_frequency"
          v-model="farmerOrganizations.meeting_frequency"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>USEFULLNESS</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.usefullness"
          v-model="farmerOrganizations.usefullness"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>AGRICULTURAL SERVICES</small>
        <v-text-field
          name="input-1-3"
          :value="farmerOrganizations.agricultural_services"
          v-model="farmerOrganizations.agricultural_services"
          single-line
          class="text-margin-negative"
          :disabled="isLiveStockDisabled"
        ></v-text-field>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.isLiveStockDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchHealth()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editLiveStockInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>

</template>

<script lang="js">
  import { EVENT_LIVESTOCK } from '@/constants/events'

  export default {
    name: 'live-stock',
    props: [],
    data () {
      return {
        isLiveStockDisabled: true,
        cropHeaders: [
          {
            text: 'Hills',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Hectares', align: 'left', sortable: false },
          { text: 'Kg. per cropping', align: 'left', sortable: false },
          { text: 'Inc. per cropping', align: 'left', sortable: false },
          { text: 'Prod. Cost', align: 'left', sortable: false }
        ],
        poultryHeaders: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Financing', align: 'left', sortable: false },
          { text: 'Heads', align: 'left', sortable: false },
          { text: 'Balut Production', align: 'left', sortable: false }
        ],
        waste_practices: '',
        workers: '',
        labors: '',
        live_stocks: '',
        marketing: '',
        market_outlets: '',
        financing_practices: '',
        seed_types: ''
      }
    },
    methods: {
      editLiveStockInfo: function (state) {
        this.isLiveStockDisabled = !state
      },
      remove: function (index, arrayName) {
        return arrayName === 'familyFarms.waste_practices' ? this.familyFarms.waste_practices.splice(index, 1) : arrayName === 'familyFarms.workers' ? this.familyFarms.workers.splice(index, 1) : arrayName === 'familyFarms.labors' ? this.familyFarms.labors.splice(index, 1) : arrayName === 'familyLivestock.live_stocks' ? this.familyLivestock.live_stocks.splice(index, 1) : arrayName === 'familyCrops.marketing' ? this.familyCrops.marketing.splice(index, 1) : arrayName === 'familyCrops.market_outlets' ? this.familyCrops.market_outlets.splice(index, 1) : arrayName === 'familyCrops.financing_practices' ? this.familyCrops.financing_practices.splice(index, 1) : this.familyCrops.seed_types.splice(index, 1)
      },
      add: function (name, arrayName) {
        return arrayName === 'familyFarms.waste_practices' ? this.familyFarms.waste_practices.push({ name: name }) : arrayName === 'familyFarms.workers' ? this.familyFarms.workers.push({ name: name }) : arrayName === 'familyFarms.labors' ? this.familyFarms.labors.push({ name: name }) : arrayName === 'familyLivestock.live_stocks' ? this.familyLivestock.live_stocks.push({ name: name }) : arrayName === 'familyCrops.marketing' ? this.familyCrops.marketing.push({ name: name }) : arrayName === 'familyCrops.market_outlets' ? this.familyCrops.market_outlets.push({ name: name }) : arrayName === 'familyCrops.financing_practices' ? this.familyCrops.financing_practices.push({ name: name }) : this.familyCrops.seed_types.push({ name: name })
      }
    },
    computed: {
      familyFarms: function () {
        return this.$store.getters['livestock/familyFarms']
      },
      familyCrops: function () {
        return this.$store.getters['livestock/familyCrops']
      },
      familyLivestock: function () {
        return this.$store.getters['livestock/familyLivestock']
      },
      familyPetAndPoultries: function () {
        return this.$store.getters['livestock/familyPetAndPoultries']
      },
      farmerOrganizations: function () {
        return this.$store.getters['livestock/farmerOrganizations']
      },
      constants: function () {
        return this.$store.getters['families/constants']
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_LIVESTOCK, this.editLiveStockInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_LIVESTOCK, this.editLiveStockInfo)
    }}
</script>

<style scoped lang="stylus">
</style>
