<template lang="html">
  <v-card  id="livestock" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">LIVESTOCK</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="editLiveStock(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <live-stock></live-stock>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import LiveStock from './LiveStock'
  import { EVENT_LIVESTOCK } from '@/constants/events'
  export default {
    name: 'live-stock-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isLivestockDisabled: true
      }
    },
    methods: {
      editLiveStock: function (state) {
        this.$eventHub.$emit(EVENT_LIVESTOCK, state)
      }
    },
    computed: {

    },
    components: {
      LiveStock
    }
}
</script>

<style scoped lang="stylus">
</style>
