<template lang="html">
  <v-layout>
  <v-flex>
    <v-card>
      <v-card-text class="grey lighten-4">
      <v-flex xs12>
        <v-layout row wrap v-for="(filter, idx) in filters" :key="idx" class="mb-3">
          <v-flex class="xs12">
            <span class="subheading">
              {{ filter.header }}
            </span>
          </v-flex>
          <v-flex xs12 md6 lg4 v-for="(choice, index) in filter.choices" :key="index">
            <v-switch
              :hide-details="true"
              :value="choice.value"
              @change="updateFilters(filter.modelName)"
              color="success"
              v-model="filterModels[filter.modelName]"
            ><small slot="label">{{ choice.label }}</small></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
</template>

<script lang="js">
  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import {
    FARM_PAKYAW_OR_LABOR,
    CROPS_FARM_TYPE,
    FARMER_ORG_MEETING,
    FARMER_ORG_MEETING_FREQUENCY,
    FARMER_ORG_USEFULLNESS
  } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    data () {
      return {
        filterModels: {
          [FARM_PAKYAW_OR_LABOR]: [],
          [CROPS_FARM_TYPE]: [],
          [FARMER_ORG_MEETING]: [],
          [FARMER_ORG_MEETING_FREQUENCY]: [],
          [FARMER_ORG_USEFULLNESS]: []
        }
      }
    },
    methods: {
      updateFilters: function (modelName) {
        this.redirectToHome()
        this.$set(this.$store.state.filters.filters, modelName, this.loadStoreFilter(modelName))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    computed: {
      filters: function () {
        return [
          {
            header: 'Farm Type',
            choices: this.storeChoices.farm_type,
            modelName: CROPS_FARM_TYPE
          },
          {
            header: 'Pakyaw o Labor',
            choices: this.storeChoices.yes_no,
            modelName: FARM_PAKYAW_OR_LABOR
          },
          {
            header: 'Meetings',
            choices: this.storeChoices.meeting_choices,
            modelName: FARMER_ORG_MEETING
          },
          {
            header: 'Meeting Frequency',
            choices: this.storeChoices.meeting_frequency,
            modelName: FARMER_ORG_MEETING_FREQUENCY
          },
          {
            header: 'Usefullness',
            choices: this.storeChoices.usefullness,
            modelName: FARMER_ORG_USEFULLNESS
          }
        ]
      }
    },
    mixins: [FiltersMixin],
    mounted () {
      this.setFilterModels()
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
}
</script>

<style scoped lang="stylus">
</style>
