<template lang="html">
  <v-layout>
  <v-flex>
    <v-card>
      <v-card-text class="grey lighten-4">
      <v-flex lg12>
        <v-layout row wrap>
          <v-flex xs12 md6 lg4 v-for="(barangay, index) in barangays" :key="index">
            <v-switch
              :hide-details="true"
              :value="barangay.id"
              @change="updateFilters"
              color="success"
              v-model="barangayFilters"
            ><small slot="label">{{ barangay.name }}</small></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
</template>

<script>
  // import Vue from 'vue'

  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import { BARANGAY } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    data () {
      return {
        barangayFilters: []
      }
    },
    computed: {
      barangays: function () {
        return this.$store.getters['families/barangays']
      }
    },
    methods: {
      updateFilters: function (state) {
        let globalApi = this.$set
        if (!state) {
          globalApi = this.$delete
          this.barangayFilters = []
        }
        this.redirectToHome()
        globalApi(this.$store.state.filters.filters, BARANGAY, this.barangayFilters.join(','))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    mixins: [FiltersMixin],
    mounted: function () {
      this.barangayFilters = this.filterToArray(BARANGAY).map(value => parseInt(value))
      this.$store.dispatch('families/fetchBarangays').then((data) => {
        this.$store.commit('families/setBarangays', data.results)
        this.isFetching = false
      }).catch(() => {
        this.isFetching = false
      })
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
  }
</script>

<style scoped lang="stylus">
</style>
