<template lang="html">
  <transition name="slide-x-reverse-transition">
    <v-flex lg12>
      <v-layout class="layout-template" v-show="showFilter">
        <v-flex lg12>
          <v-card class="text-lg-center">
            <v-layout row wrap class="pb-2">
              <v-card
                v-for="(category, idx) in categories"
                :key="idx"
                class="elevation-0"
              >
                <v-flex>
                  <v-btn
                    :color="getColor(category.name) + ' darken-4'"
                    @click="selectedCategory = category.name"
                    dark
                    fab
                    large
                  >
                    <v-icon dark class="icon-padding">{{ category.icon }}</v-icon>
                  </v-btn>
                </v-flex>
                <span>{{ category.name }}</span>
              </v-card>
            </v-layout>
            <v-divider></v-divider>
            <v-expansion-panel>
              <v-expansion-panel-content :value="true">
                <div slot="header">
                  {{ selectedCategory }}
                </div>
                <v-card>
                  <div style="overflow: auto; height: auto; max-height: 500px;">
                    <barangay-filter
                      v-show="selectedCategory === 'Barangay'"
                    ></barangay-filter>

                    <personal-information-filter
                      v-show="selectedCategory === 'Basic Info'"
                    ></personal-information-filter>

                    <education-filter
                      v-show="selectedCategory === 'Education'"
                    ></education-filter>

                    <health-filter
                      v-show="selectedCategory === 'Health'"
                    ></health-filter>

                    <housing-filter
                      v-show="selectedCategory === 'Housing'">
                    </housing-filter>

                    <agriculture-filter
                      v-show="selectedCategory == 'Agriculture'"
                    ></agriculture-filter>
                  </div>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </transition>
</template>

<script lang="js">
  import {
    EVENT_TOGGLE_FILTER
  } from '@/constants/events'
  import AgricultureFilter from '@/components/filters/AgricultureFilter'
  import BarangayFilter from '@/components/filters/BarangayFilter'
  import EducationFilter from '@/components/filters/EducationFilter'
  import HealthFilter from '@/components/filters/HealthFilter'
  import HousingFilter from '@/components/filters/HousingFilter'
  import PersonalInformationFilter from '@/components/filters/PersonalInformationFilter'

  export default {
    data () {
      return {
        showFilter: false,
        selectedCategory: 'Barangay',
        categories: [
          {
            name: 'Barangay',
            icon: 'account_balance'
          },
          {
            name: 'Basic Info',
            icon: 'fa-user'
          },
          {
            name: 'Education',
            icon: 'fa-pencil'
          },
          {
            name: 'Health',
            icon: 'fa-ambulance'
          },
          {
            name: 'Housing',
            icon: 'fa-home'
          },
          {
            name: 'Agriculture',
            icon: 'fa-tree'
          }
        ]
      }
    },
    methods: {
      getColor: function (category) {
        return this.selectedCategory === category ? 'success' : 'blue'
      },
      toggleFilter: function () {
        this.showFilter = !this.showFilter
      },
      fetchChoices: function () {
        this.$store.dispatch('families/fetchConstants').then((data) => {
          this.$store.commit('families/setConstants', data)
        }).catch(() => {
          this.isFetching = false
        })
      }
    },
    components: {
      AgricultureFilter,
      BarangayFilter,
      EducationFilter,
      HealthFilter,
      HousingFilter,
      PersonalInformationFilter
    },
    created: function () {
      this.fetchChoices()
      this.$eventHub.$on(EVENT_TOGGLE_FILTER, this.toggleFilter)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_TOGGLE_FILTER, this.toggleFilter)
    }
  }
</script>

<style scoped lang="stylus">
  .drawer
    z-index: 99999
  .layout-template
    position: fixed
    z-index: 99999
    right:0
    top:0
    margin-top: 68px
    width: 530px
  .icon-padding
    padding: 20px
</style>
