<template lang="html">
  <v-layout>
    <v-flex v-for="(filter,i) in filters" :key="i" >
      <v-card>
        <v-card-text class="grey lighten-4">
        <v-flex lg12>
          <v-layout row wrap>

            <v-flex class="lg12 obj-1-container ">
              <span class="subheading title-spacing">
                {{ filter.header }}
              </span>
            </v-flex>
            <v-flex xs12 md6 lg4 v-for="(choice, index) in filter.choices" :key="index">
            <v-switch
              :hide-details="true"
              :value="choice.value"
              @change="updateFilters(filter.modelName)"
              color="success"
              v-model="filterModels[filter.modelName]"
            ><small slot="label">{{ choice.label }}</small></v-switch>
          </v-flex>
          </v-layout>
        </v-flex>
      </v-card-text>
    </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="js">
  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import {
    HEAD_EDUCATIONAL_ATTAINMENT
  } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'
  export default {
    name: 'education',
    props: [],
    data () {
      return {
        filterModels: {
          [HEAD_EDUCATIONAL_ATTAINMENT]: []
        }
      }
    },
    methods: {
      updateFilters: function (modelName) {
        this.redirectToHome()
        this.$set(this.$store.state.filters.filters, modelName, this.loadStoreFilter(modelName))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    computed: {
      filters: function () {
        return [
          {
            header: 'Education Level',
            choices: this.storeChoices.educational_attainment,
            modelName: HEAD_EDUCATIONAL_ATTAINMENT
          }
        ]
      }
    },
    mixins: [FiltersMixin],
    mounted () {
      this.setFilterModels()
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
}
</script>

<style scoped>
</style>
