<template lang="html">
  <v-layout>
  <v-flex>
    <v-card>
      <v-card-text class="grey lighten-4">
      <v-flex xs12>
        <v-layout row wrap v-for="(filter, idx) in filters" :key="idx" class="mb-3">
          <v-flex class="xs12">
            <span class="subheading">
              {{ filter.header }}
            </span>
          </v-flex>
          <v-flex xs12 md6 lg4 v-for="(choice, index) in filter.choices" :key="index">
            <v-switch
              :hide-details="true"
              :value="choice.value"
              @change="updateFilters(filter.modelName)"
              color="success"
              v-model="filterModels[filter.modelName]"
            ><small slot="label">{{ choice.label }}</small></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
</template>

<script lang="js">
  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import {
    NUTRITION_HAS_CHILDREN_IMMUNIZED,
    NUTRITION_HAS_MALNOURISHED_CHILDREN,
    NUTRITION_HAS_NEWBORN,
    NUTRITION_HAS_PREGNANCY_SUPPLIMENT,
    NUTRITION_HAS_PRENATAL_SERVICES,
    NUTRITION_HAS_TRAINED_DELIVERY,
    NUTRITION_HAS_DEATH_BELOW_1_YEAR_OLD,
    NUTRITION_PHILHEALTH_MEMBERSHIP
  } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    data () {
      return {
        filterModels: {
          [NUTRITION_HAS_NEWBORN]: '',
          [NUTRITION_HAS_CHILDREN_IMMUNIZED]: '',
          [NUTRITION_HAS_MALNOURISHED_CHILDREN]: '',
          [NUTRITION_HAS_PREGNANCY_SUPPLIMENT]: '',
          [NUTRITION_HAS_PRENATAL_SERVICES]: '',
          [NUTRITION_HAS_TRAINED_DELIVERY]: '',
          [NUTRITION_HAS_DEATH_BELOW_1_YEAR_OLD]: '',
          [NUTRITION_PHILHEALTH_MEMBERSHIP]: []
        },
        pasmo: false
      }
    },
    computed: {
      filters: function () {
        return [
          {
            header: 'Philhealth Membership',
            choices: this.storeChoices.philhealth_membership,
            modelName: NUTRITION_PHILHEALTH_MEMBERSHIP
          },
          {
            header: 'New Born Estimated 2.5kg',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_NEWBORN
          },
          {
            header: 'Children Immunized',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_CHILDREN_IMMUNIZED
          },
          {
            header: 'Malnourished Children',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_MALNOURISHED_CHILDREN
          },
          {
            header: 'Pregnancy Suppliments',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_PREGNANCY_SUPPLIMENT
          },
          {
            header: 'Pre Natal Services',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_PRENATAL_SERVICES
          },
          {
            header: 'Trained Delivery',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_TRAINED_DELIVERY
          },
          {
            header: 'Death below 1 years old',
            choices: this.storeChoices.null_boolean,
            modelName: NUTRITION_HAS_DEATH_BELOW_1_YEAR_OLD
          }
        ]
      }
    },
    methods: {
      updateFilters: function (modelName) {
        this.redirectToHome()
        this.$set(this.$store.state.filters.filters, modelName, this.loadStoreFilter(modelName))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    mixins: [FiltersMixin],
    mounted: function () {
      this.setFilterModels()
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
}
</script>

<style scoped lang="stylus">
</style>
