<template lang="html">
  <v-layout>
  <v-flex>
    <v-card>
      <v-card-text class="grey lighten-4">
      <v-flex xs12>
        <v-layout row wrap v-for="(filter, idx) in filters" :key="idx" class="mb-3">
          <v-flex class="xs12">
            <span class="subheading">
              {{ filter.header }}
            </span>
          </v-flex>
          <v-flex xs12 md6 lg4 v-for="(choice, index) in filter.choices" :key="index">
            <v-switch
              :hide-details="true"
              :value="choice.value"
              @change="updateFilters(filter.modelName)"
              color="success"
              v-model="filterModels[filter.modelName]"
            ><small slot="label">{{ choice.label }}</small></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
</template>

<script lang="js">
  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import {
    HOUSING_OWNERSHIP_STATUS,
    HOUSING_HOME_SETTING,
    HOUSING_FLOOD_FREQUENCY,
    HOUSING_EARTHQUAKE_FREQUENCY,
    HOUSING_LANDSLINDE_FREQUENCY,
    HOUSING_TORNADO_FREQUENCY
  } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    data () {
      return {
        filterModels: {
          [HOUSING_OWNERSHIP_STATUS]: [],
          [HOUSING_HOME_SETTING]: [],
          [HOUSING_FLOOD_FREQUENCY]: [],
          [HOUSING_EARTHQUAKE_FREQUENCY]: [],
          [HOUSING_LANDSLINDE_FREQUENCY]: [],
          [HOUSING_TORNADO_FREQUENCY]: []
        }
      }
    },
    computed: {
      filters: function () {
        return [
          {
            header: 'Ownership Status',
            choices: this.storeChoices.ownership_status,
            modelName: HOUSING_OWNERSHIP_STATUS
          },
          {
            header: 'Home Settings',
            choices: this.storeChoices.home_setting,
            modelName: HOUSING_HOME_SETTING
          },
          {
            header: 'Flood Frequency',
            choices: this.storeChoices.frequencies,
            modelName: HOUSING_FLOOD_FREQUENCY
          },
          {
            header: 'Earthquake Frequency',
            choices: this.storeChoices.frequencies,
            modelName: HOUSING_EARTHQUAKE_FREQUENCY
          },
          {
            header: 'Landslide Frequency',
            choices: this.storeChoices.frequencies,
            modelName: HOUSING_LANDSLINDE_FREQUENCY
          },
          {
            header: 'Tornado Frequency',
            choices: this.storeChoices.frequencies,
            modelName: HOUSING_TORNADO_FREQUENCY
          }
        ]
      }
    },
    methods: {
      updateFilters: function (modelName) {
        this.redirectToHome()
        this.$set(this.$store.state.filters.filters, modelName, this.loadStoreFilter(modelName))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    mixins: [FiltersMixin],
    mounted () {
      this.setFilterModels()
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
}
</script>

<style scoped lang="stylus">
</style>
