<template lang="html">
  <v-layout>
  <v-flex>
    <v-card>
      <v-card-text class="grey lighten-4">
      <v-flex xs12>
        <v-layout row wrap v-for="(filter, idx) in filters" :key="idx" class="mb-3">
          <v-flex class="xs12">
            <span class="subheading">
              {{ filter.header }}
            </span>
          </v-flex>
          <v-flex xs12 md6 lg4 v-for="(choice, index) in filter.choices" :key="index">
            <v-switch
              :hide-details="true"
              :value="choice.value"
              @change="updateFilters(filter.modelName)"
              color="success"
              v-model="filterModels[filter.modelName]"
            ><small slot="label">{{ choice.label }}</small></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
</template>

<script lang="js">
  import {
    UPDATE_SEARCH_QUERY,
    EVENT_FILTER,
    EVENT_RESET_FILTER
  } from '@/constants/events'
  import {
    HEAD_GENDER,
    HEAD_BLOOD_TYPE,
    HEAD_CIVIL_STATUS,
    HEAD_EDUCATIONAL_ATTAINMENT,
    HEAD_RELIGION
  } from '@/constants/filters'

  import FiltersMixin from '@/mixins/filters'

  export default {
    name: 'personal-information',
    props: [],
    data () {
      return {
        filterModels: {
          [HEAD_BLOOD_TYPE]: [],
          [HEAD_GENDER]: [],
          [HEAD_CIVIL_STATUS]: [],
          [HEAD_EDUCATIONAL_ATTAINMENT]: [],
          [HEAD_RELIGION]: []
        }
      }
    },
    computed: {
      filters: function () {
        return [
          {
            header: 'Family Head Gender',
            choices: this.storeChoices.gender,
            modelName: HEAD_GENDER
          },
          {
            header: 'Family Head Civil Status',
            choices: this.storeChoices.civil_status,
            modelName: HEAD_CIVIL_STATUS
          },
          {
            header: 'Family Head Highest Educational Attainment',
            choices: this.storeChoices.educational_attainment,
            modelName: HEAD_EDUCATIONAL_ATTAINMENT
          },
          {
            header: 'Family Head Blood Type',
            choices: this.storeChoices.blood_type,
            modelName: HEAD_BLOOD_TYPE
          },
          {
            header: 'Family Head Religion',
            choices: this.storeChoices.religion,
            modelName: HEAD_RELIGION
          }
        ]
      }
    },
    methods: {
      updateFilters: function (modelName) {
        this.redirectToHome()
        this.$set(this.$store.state.filters.filters, modelName, this.loadStoreFilter(modelName))
        this.$eventHub.$emit(UPDATE_SEARCH_QUERY)
      }
    },
    mixins: [FiltersMixin],
    mounted: function () {
      this.setFilterModels()
    },
    created () {
      this.$eventHub.$on(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$on(EVENT_RESET_FILTER, this.resetFilterModels)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_FILTER, this.updateFilters)
      this.$eventHub.$off(EVENT_RESET_FILTER, this.resetFilterModels)
    }
}
</script>

<style scoped lang="stylus">
</style>
