<template lang="html">
  <v-card  id="education" class="card-container">
    <v-card-title class="negative-top">
      <strong style="margin-left:10px;">EDUCATION</strong>
      <v-spacer></v-spacer>
      <v-tooltip left>
        <v-icon
          @click="isEducationInfo(true)"
          medium
          slot="activator"
          class="pointer"
        >fa-edit</v-icon>
        <span>Edit</span>
      </v-tooltip>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <education></education>
    </v-card-text>
  </v-card>
</template>

<script lang="js">
  import Education from './Education'
  import { EVENT_EDUCATION } from '@/constants/events'
  export default {
    name: 'education-template',
    props: [],
    mounted () {

    },
    data () {
      return {
        isEdcationDisabled: true
      }
    },
    methods: {
      isEducationInfo: function (state) {
        this.$eventHub.$emit(EVENT_EDUCATION, state)
      }
    },
    computed: {

    },
    components: {
      Education
    }
}
</script>

<style scoped lang="stylus">
</style>
