<template lang="html">
  <section class="education">
    <v-layout row wrap>
      <v-flex lg2 class="pl-2 pr-2">
      <small>DAYCARE CHILD</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_in_daycare"
          v-model="education.children_in_daycare"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN IN KINDER</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_in_kinder"
          v-model="education.children_in_kinder"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>CHILDREN IN ELEM.</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select class="text-margin-negative"
                :items="education_true_or_false"
                v-model="education.has_children_in_elementary"
                placeholder="Select"
                :disabled="isEducationDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ABLE TO READ & WRITE</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select class="text-margin-negative"
                :items="education_true_or_false"
                v-model="education.has_members_able_to_read_and_write"
                placeholder="Select"
                :disabled="isEducationDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ABLE TO VOTE</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select class="text-margin-negative"
                :items="education_true_or_false"
                v-model="education.has_members_able_to_vote"
                placeholder="Select"
                :disabled="isEducationDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 row class="pl-2 pr-2">
      <small>ABLE TO ATTEND BARANGAY ASEEMBLY</small>
        <v-layout row wrap>
          <v-flex lg22>
            <v-select class="text-margin-negative"
                :items="education_true_or_false"
                v-model="education.has_members_able_to_attend_barangay_assembly"
                placeholder="Select"
                :disabled="isEducationDisabled"
                :append-icon="null"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN NOT IN ELEM.</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_not_in_elementary"
          v-model="education.children_not_in_elementary"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN NOT IN JR. H.S.</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_not_in_junior_hs"
          v-model="education.children_not_in_junior_hs"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN NOT IN SR. H.S.</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_not_in_senior_hs"
          v-model="education.children_not_in_senior_hs"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN NOT IN COLLEGE</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_not_in_college"
          v-model="education.children_not_in_college"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN COLLEGE GRADUATE</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_college_graduate"
          v-model="education.children_college_graduate"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN IN COLLEGE LEVEL</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_college_level"
          v-model="education.children_college_level"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN HIGH SCHOOL GRADUATE</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_high_school_graduate"
          v-model="education.children_high_school_graduate"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
          text-center
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN IN HIGH SCHOOL LEVEL</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_high_school_level"
          v-model="education.children_high_school_level"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN ELEMENTARY GRADUATE</small>
        <v-text-field
          name="input-1-3"
          :value="education.children_elementary_graduate"
          v-model="education.children_elementary_graduate"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <v-flex lg2 class="pl-2 pr-2">
      <small>CHILDREN IN ELEMENTARY LEVEL</small>
        <v-text-field
          name="input-1-3"
          type="number"
          :value="education.children_elementary_level"
          v-model="education.children_elementary_level"
          single-line
          class="text-margin-negative"
          :disabled="isEducationDisabled"
        ></v-text-field>
      </v-flex>
      <transition name="slide-y-transition">
        <v-flex lg12 class="text-lg-right" v-if="this.isEducationDisabled === false">
          <v-btn
            :loading="isSaving"
            @click.prevent="patchEducation()"
            color="blue darken-4"
            dark
            type="submit"
          >
            Save
          </v-btn>

          <v-btn @click.prevent="editEducationInfo(false)">Cancel</v-btn>
        </v-flex>
      </transition>
    </v-layout>
  </section>
</template>

<script lang="js">
  import { EVENT_EDUCATION } from '@/constants/events'

  export default {
    name: 'education',
    props: ['item'],
    data () {
      return {
        isEducationSaving: false,
        isEducationDisabled: true,
        childrenInElemtaryNull: null,
        ableToReadAndWriteNull: null,
        ableToVoteNull: null,
        ableToAttendBarangayAssemblyNull: null,
        education_true_or_false: [
          {
            text: 'true', value: true
          },
          {
            text: 'false', value: false
          }
        ]
      }
    },
    methods: {
      editEducationInfo: function (state) {
        this.isEducationDisabled = !state
      },
      patchEducation: function () {
        this.isEducationSaving = true
        this.$store.dispatch('education/patchEducation', this.education).then(() => {
          this.isEducationSaving = false
        }).catch(() => {
          this.isEducationSaving = false
        })
      }
    },
    computed: {
      education: function () {
        return this.$store.getters['education/education']
      },
      isSaving: function () {
        return !(!this.isEducationSaving)
      }
    },
    created: function () {
      this.$eventHub.$on(EVENT_EDUCATION, this.editEducationInfo)
    },
    beforeDestroy: function () {
      this.$eventHub.$off(EVENT_EDUCATION, this.editEducationInfo)
    }
}
</script>

<style scoped lang="stylus">
</style>
