<template>
  <v-app light>
    <the-header></the-header>

    <main class="grey lighten-5">
      <v-content>
        <v-container fluid>

          <drawer-filter></drawer-filter>

          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-container>
      </v-content>
    </main>

  </v-app>
</template>

<script lang="js">
  import TheHeader from '@/components/shared/TheHeader'

  const DrawerFilter = () => import(/* webpackChunkName: "drawer-filter" */ '@/components/filters/DrawerFilter')

  export default {
    name: 'app',
    components: {
      TheHeader,
      DrawerFilter
    }
  }

</script>

<style lang="stylus">
  @import './stylus/main'
</style>
